html {
	background:none no-repeat scroll center top #ffffff;
	color:#252525;
	direction:ltr;
	line-height: 1;
}
body{
	font:12px/20px '宋体',Arial;
	background:none no-repeat center top transparent;
}
.bitech_ico{
	background-image:url(../images/bitech.png);
	background-repeat:no-repeat;
}
.bi_body{
	position:relative;
}
.bi_con_body{
	position:relative;
	width:1000px;
    margin:0 auto;
	background:none;
}

.wm{
	position:relative;
	width:1000px;
    margin: 0 auto;
}
/*new*/
  .search_area{
	position:relative;
	height:18px;
	width:170px;
	border:1px solid #bbbbbb;
	padding-left:3px;
	overflow:hidden;
	background:#fff;
}
.search_area .search_input{
	background:none;
	height:18px;
	line-height:18px;
	border:none;
	color:#999;
	width:150px;
	float:left;
}
.search_area .search_btn{
	height:18px;
	width:15px;
	background:url(../images/news_serach_btn.png) no-repeat scroll center center transparent;
	border:none;
	vertical-align:top;
	cursor:pointer;
	float:left;
}
/*导航*/
.hkw_nav{
	position:absolute;
	top:20px;
	right:-1px;
}
.hkw_nav li{
	float:left;
	display:inline;
	padding:0 26px;
	background:url(../images/nav_line.gif) no-repeat right center transparent;
}
.hkw_nav li a{
	color:#ffffff;
	font-size:16px;
	font-family:microsoft yahei;
	display:block;
}
/*图片列表*/
 .images_newslist {
	 clear:both;
	margin-bottom:0px;
	margin-top:0;
}
.images_newslist dd {
	padding:14px 0;
	border-bottom:1px dotted #d9d9d9;
}
.images_newslist .cxjd_img_a, .images_newslist .cxjd_img_a img {
	height: 104px;
	width: 145px;
}
.zjtx_ul.images_newslist .cxjd_img_a, .zjtx_ul.images_newslist .cxjd_img_a img {
	height: 145px;
	width: 104px;
}
.images_newslist .cxjd_img_a {
	display: block;
	margin: 2px 15px 0;
	position: relative;
}
.images_newslist dt.title {
	padding-left:20px;
	margin-left:10px;
	color:#272727;
	font-family:microsoft yahei;
	font-size:15px;
	margin-bottom:-5px;
}
.images_newslist dt.title a{
	color:#272727;
}
.images_newslist dd .title .blue {
	margin-right:8px;
}
.images_newslist dd .qingse {
	margin:10px 0;
	border-bottom:1px dotted #999;
	margin-left:212px;
}
.images_newslist dd .detail {
	line-height:1.7em;
	margin-top:5px;
	font-family:"宋体";
}
.images_newslist dd .title a{
	font-family:"宋体";
	font-size:14px;
	font-weight:bold;
}
.images_newslist dd {
	position:relative;
	overflow:hidden;
}
.images_newslist .cksp {
	background:#f07f10;
	padding:1px 12px;
	color:#FFF;
	margin-right:10px;
}
.images_newslist .from{
	color:#525da0;
}
.images_newslist  .date{
}
/*botton*/
.blueBtn{
	display:inline-block;
	background:#3067be;
	padding:3px 10px;
	color:#c3d8fa;
	margin-right:6px;
}
.blueBtn02{
	display:inline-block;
	margin-right:6px;
	width:55px;
	height:16px;
	font-size:12px;
	font-family:Arial;
	line-height:16px;
	text-align:center;
	background:url(../images/more_arrow.gif) no-repeat scroll right center transparent;
	padding-right:10px;
	color:#1a905c;
}
.grayBtn{
	display:inline-block;
	background:#aaaaaa;
	padding:3px 10px;
	color:#dbdbdb;
	margin-right:6px;
}

/*.CambridgEBlueBtn{
	display:inline-block;
	color:#FFF;
	height:20px;
	line-height:20px;
	width:57px;
	padding-left:14px;
	background:url(../images/btn01.gif) no-repeat scroll 0 0 transparent;
}*/
.blueBtn:hover{
	color:#c3d8fa;
}
.grayBtn:hover{
	color:#dbdbdb;
}
/*.CambridgEBlueBtn:hover{
	color:#FFF;
}*/
.blueBtn02:hover{
	color:#1a905c;
	text-decoration:underline;
}


/*内页导航*/
.con_nav_ul{
	margin-top:7px;
}
.con_nav_ul li{
	margin-bottom:1px;
}
.con_nav_ul li a{
	display:block;
	height:36px;
	background:url(../images/con_nav.jpg) no-repeat scroll center 0 transparent;
	color:#444444;
	font-size:14px;
	line-height:36px;
	padding-left:22px;
}
.con_nav_ul li a.on,.con_nav_ul li a:hover{
	background:url(../images/con_nav_on.jpg) no-repeat scroll center 0 transparent;
	color:#FFF;
}

/*内页右侧内容标题和导航*/
.daohangrightxian {
	height:35px;
	margin-bottom:5px;
	margin-top:5px;
	background:url(../images/xia04.gif) repeat-x scroll 0 bottom transparent;
}
.daohanglefttitle {
	color: #2020;
	font-size:24px;
	font-family:黑体;
	display:inline-block;
	height:31px;
	line-height:1em;
	border-bottom:4px solid #1a905c;
}
.con_nav {
	color: gray;
	font-size: 12px;
	padding-left:20px;
	border-bottom:3px solid #1e1e1e;
	margin-top:-43px;
	padding-bottom:4px;
	text-align:right;
	margin-left:180px;
}
.daohangrightxian em {
	font-size:12px;
	font-weight:normal;
	color:#9ea0a1;
	margin:0 5px;
}
.con_nav a.blue, .con_nav a:last-child {
	
}

.con_nav a {
	margin: 0 3px;
	color:#8a8a8a;
	display:inline;
}
.con_nav a.black {
	color:#008f7e;
}

/*search*/
.search_mod{
	margin-left:10px;
	margin-bottom:8px;
}
.search_mod .search_text{
	border:1px solid #cccccc;
	height:20px;
	line-height:20px;
	padding:0 5px;
	background:#fff;
	width:146px;
}
.search_mod .search_btn{
	display:inline-block;
	height:22px;
	line-height:22px;
	width:66px;
	text-align:center;
	background:#666666;
	color:#FFF;
	margin-left:4px;
}
.select_c{
	border:1px solid #cccccc;
	height:20px;
	line-height:20px;
}

/*新闻列表页*/
.newslist_tb{
	font-size:14px;
	font-family:"宋体";
	border-left:1px solid #d9d9d9;
	*border-bottom:1px solid #d9d9d9 !important;
}
.newslist_tb th {
    border: medium none;
    color: #373737;
    font-weight: normal;
    height: 36px;
    vertical-align: middle;
	background:#e9fcf0;
	text-align:center;
	border-bottom:1px solid #d9d9d9;
	border-right:1px solid #fff;
}
.newslist_tb th:last-child{
	border-right:1px solid #d9d9d9;
}
.newslist_tb .left {
    text-align: left;
}
.newslist_tb td {
    height: 33px;
    line-height: 1.6em;
    text-align: center;
	border-bottom:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
}
.newslist_tb tr.odd{
}
/*分页样式*/
.page{
    clear: both;
    float: none;
    min-height: 25px;
    line-height: 25px;
	text-align:center;
}
.page a {
    color: #777777;
    height:24px;
	margin:0 3px;
	display:inline-block;
	padding:0 9px;
	text-decoration:none;
	font-family:Arial;
	border:1px solid #e2e2e2;
}
.page .current {
    color: #FFFFFF;
	text-decoration:none;
	background:#0071b0;
}
.page a:hover{
	text-decoration:none;
	color:#199d51;
}
.page .current:hover{
	color:#FFFFFF;
}
.page a.diyi,.page a.shang,.page a.xia,.page a.zuihou{

}
.page .diyi{
    background: url("../images/left_top03.gif") no-repeat scroll center center transparent;
}
.page .shang{
    background: url("../images/shang03.gif") no-repeat scroll center center transparent;
}
.page .xia{
    background: url("../images/xia03.gif") no-repeat scroll center center transparent;
}
.page .zuihou{
    background: url("../images/right_top03.gif") no-repeat scroll center center transparent;
}
.page a.btn{
}
.page a.btn{
	text-decoration:none;
	font-size:inherit;
}
.page a.btn:hover{
	
}
.page .cruuent{
    font-weight: bold;
}
/*内容页*/
.bi_con_fr .daohangrighthead {
    color: #272727;
    font-size: 17px;
    line-height: 1.9em;
    margin-top: 10px;
	text-align:center;
    padding: 10px 5px 10px;
	border-top:2px solid #999999;
	background:#ededed;
	font-family:microsoft yahei;
	border-bottom:1px solid #d5d5d5;

}
.bi_con_fr  .timeandtimes{
	border-bottom:1px solid #CCC;
	padding: 10px 5px 10px;
	margin-bottom:25px;
}
.bi_con_fr  .timeandtimes .date{
	margin-left:30px;
}
.news_con_toolbar{
	border-bottom:2px solid #999;
	border-top:2px solid #999;
	overflow:hidden;
	margin-top:50px;
	
}
.news_con_toolbar a{
	font-size:14px;
}
.news_con_toolbar .download{
	margin-top:10px;
	cursor:pointer;
}
.news_con_toolbar .prev_news{
	border-bottom:1px solid #999;
	background:url(../images/prev_page.gif) no-repeat 20px center transparent;
}
.news_con_toolbar .prev_news,.news_con_toolbar .next_news{
	height:35px;
	line-height:35px;
	padding:0 8px 0 40px;
}
.news_con_toolbar .next_news{
	background:url(../images/next_page.gif) no-repeat 20px center transparent;
}
a.back_btn{
	display:inline-block;
	height:26px;
	line-height:26px;
	padding:0 16px;
	font-size:14px;
	color:#fff;
	border:1px solid #0f4775;
	cursor:pointer;
	background:#0f4775;
}
a.back_btn:hover{color:#fff;}
/*列表页面*/
.com_list li{
    border-bottom: 1px dotted #CCCCCC;
	padding:2px 2px 2px 2px;
	line-height:1.8em;
}
.com_list li .datetime{
	color:#888888;
	white-space:nowrap;
	font-family:Arial, "宋体", sans-serif;
}
.com_list li .type{
	margin-right:3px;
}
.com_list li .dot{
	color:#00876f;
	margin-right:4px;
	font-size:14px;
}
.com_list li .detail{
	color:#9e9e9e;
}


/*年会搜索*/
/*new*/
 .nh_search_area{
	position:relative;
	height:35px;
	background:#0f4775;
	padding:0 5px;
	width:283px;
	margin-top:14px;
	background:url(../nh_images/nh_search_bj.jpg) no-repeat scroll 0 0 transparent;
}
.nh_search_area .search_input{
	background:none;
	height:35px;
	line-height:35px;
	border:none;
	color:#85b6de;
	width:204px;
	padding:0 3px;
}
.nh_search_area .search_btn{
	height:26px;
	line-height:26px;
	width:62px;
	text-align:center;
	background:#0c72c9;
	color:#FFF;
	border:none;
	cursor:pointer;
}

/*FAQ*/
/*社区信息发布*/
.serach_btn,.bi_tip .worn_ico,.serach_btn02,.photos_liat_slide,.sendlist,.uploadPic_name em.icopic{
	background-image:url(../images/faq/bitech.png);
	background-repeat:no-repeat;
}
#hdsq_send_area{
	padding: 20px 40px 16px 40px;
	background:#faf8f6;
	border-top:1px solid #e4e2e1;
	border-bottom:1px solid #e4e2e1;
	overflow:hidden;
}
#hdsq_send_area .tishi{
	font-size:16px;
	color:#979797;
}
#hdsq_send_area .sendCnt{
	height:126px;
	border:1px solid #fbb648;
	background:#FFF;
}
.msgTxt{
	height:98px;
	padding:3px;
	width:599px;
	border:none;
	font-size:14px;
	overflow:auto;
}
#hdsq_send_area .countTxt{
	padding-right:5px;
	color:##999999;
	font-family:Arial, Helvetica, sans-serif;
}
#hdsq_send_area .countTxt em{
	font-weight:bold;
}
#hdsq_send_area .beyond_font{
	display:none;
	padding-right:5px;
	color:##999999;
	font-family:Arial, Helvetica, sans-serif;
}
#hdsq_send_area .beyond_font em.error{color:#E56C0A; font-weight:bold}
.sendlist{
	height:20px;
	line-height:20px;
	color:#999999;
	padding-left:22px;
	font-family:Arial;
	margin-left:4px;
	min-width:27px;
	white-space:nowrap;
	cursor:pointer;
}
.sendlist:hover{
	color:#5BA4D2;
}
.sendlist.insertFace{
	background-position:-60px -238px;
}
.sendlist.uploadPic{
	background-position:-60px -262px;
}
.sendFun{
	margin-top:5px;
}
.sendFun:hover{
	background-position:-110px 0;
}
.ghy_weibo_tab{
	overflow:hidden;
	border-bottom:1px solid #e4e2e1;
}
.ghy_weibo_tab .weibo_type{
	display:inline-block;
	height:35px;
	line-height:35px;
	padding:0 22px;
	background:#e9e9e9;
	color:#292828;
	margin-right:10px;
	cursor:pointer;
	font-size:16px;
	font-family:microsoft yahei;
}
.zxly_ul .ask_content{
	padding:30px 5px 10px;
	font-size:14px;
	border-bottom:1px dotted #CCC;
}
.zxly_ul .ask_content .name{
	color:#c44141;
}
.zxly_ul .ask_content .ask{
	color:#ff0000;
	margin:0 5px;
}
.zxly_ul .ask_content .date{
	margin-left:8px;
}
.zxly_ul  .admin_answer{
	padding:10px 10px 10px 50px;
}
.zxly_ul .admin_answer .name{
	margin-right:5px;
}
/*表情内容*/
.faceWrap {
	display:none;
    padding: 0 0 12px;
    z-index: 1001 !important;
}
.D3 {
    background-color: #FFFFFF;
    border: 1px solid #D2D2D2;
    clear: both;
    filter: none;
    margin-left: -1px;
    position: absolute;
    width: 430px;
    z-index: 19;
}
.tabStyle3, .urlIntro {
	background:#faf8f8;
    background: -moz-linear-gradient(center top , #FEFEFE, #F5F5F5) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CFCFCF;
	
    height: 24px;
    overflow: hidden;
    width: 100%;
}
.tabStyle3 ul {
    height: 25px;
    overflow: hidden;
    position: absolute;
}
.tabStyle3 .close {
    float: none;
    margin: 0;
    position: absolute;
    right: 5px;
    top: 5px;
}
.tabStyle3 li {
    background-position: -215px -111px;
    display: inline-block;
    float: left;
    line-height: 25px;
    margin-left: -1px;
    padding: 0 1px;
}
.tabStyle3 li.select {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #D2D2D2;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
    padding: 0;
    position: relative;
}
.tabStyle3 li b {
    display: block;
    font-weight: normal;
    padding: 0 11px;
}
.close {
	background:url(../images/faq/btn_list.png) no-repeat scroll -226px 0 transparent;
    height: 16px;
    width: 16px;
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    outline: medium none;
    overflow: hidden;
    text-align: left;
    text-indent: -9999em;
    z-index: 50;
}
.close:hover{
	background:url(../images/faq/btn_list.png) no-repeat scroll -246px 0 transparent;
}

.faceBox {
    margin: 12px auto 0;
    position: relative;
    width: 406px;
}
.faceCell {
    border-left: 1px solid #DFE6F6;
    border-top: 1px solid #DFE6F6;
}
.faceCell, .dFace, .pFace, .fFace {
    overflow: hidden;
    width: 405px;
}
.dFace {
    background: url("../images/faq/qqFace_110928.png") no-repeat scroll 0 0 transparent;
}

.faceCell a, .faceCell dt {
    border-bottom: 1px solid #DFE6F6;
    border-right: 1px solid #DFE6F6;
    display: block;
    float: left;
    height: 26px;
    line-height: 26px;
    width: 26px;
}
.D3 .SA {
    position: absolute;
    top: -9px;
    z-index: -1;
}

.D3 .SA em, .D3 .SA span {
    color: #D2D2D2;
    font-weight: normal;
    height: 18px;
    width: 17px;
}
.SA em {
    z-index: 99;
}
.D3 .SA span {
    color: #FFFFFF;
    left: 0;
    top: 1px;
}
.SA span {
    z-index: 999;
}
.SA em, .SA span {
    font-family: Simsun;
    font-size: 16px;
    line-height: 21px;
    overflow: hidden;
    position: absolute;
}
.facePreview {
    background: none repeat scroll 0 0 #008AFF;
    border: 1px solid #DFE6F6;
    height: 51px;
    padding: 1px;
    position: absolute;
    right: 12px;
    text-align: center;
    top: 37px;
    width: 51px;
}

.facePreview div {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5F3FF;
    padding-top: 5px;
}
.facePreview p {
    display: block !important;
    height: 28px;
    overflow: hidden;
}

.facePreview .faceName {
    background: none repeat scroll 0 0 #F1F1F1;
    color: #999999;
    height: 16px;
    line-height: 17px;
}
.uploadPic_name,.uploadPic_name02{
	display:none;
	height:20px;
	line-height:20px;
	color:#999999;
	font-family:Arial;
	margin-left:4px;
	padding-left:14px;
	position:relative;
	min-width:27px;
	white-space:nowrap;
}
.uploadPic_name em.icopic{
	position:absolute;
	left:0;
	top:0px;
	background-position:-60px -262px;
	display:inline-block;
	height:20px;
	width:20px;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.send_other.file{
	background:#F6F6F6;
	height:22px;
}
#delete_file { cursor:pointer; margin-left:5px;}


/*政策内容页*/
.contenttitle2{
	font-size:20px;
	color:#2279b4;
	font-weight:bold;
	margin-top:12px;
	padding-left:29px;
	background: url("../images/Policy/content_title_bz.jpg") no-repeat scroll 3px 0 transparent;
	 margin-bottom:15px;
}
.bi_con_fr .con_state table{
	width:740px;
}
.bi_con_fr .con_state td{
	height:28px;
	text-align:center;
	color:#656565;
	border-top:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
	padding:0 20px;
}
.bi_con_fr .con_state td.lieming{
	background-color:#eaf1f4;
}
.bi_con_fr .con_state td em{
	font-style:normal;
	margin-right:5px;
	cursor:pointer;
}
.bi_con_fr .con_state td em.on{
	font-size:14px;
	color:#1a93c2;
	font-weight:bold;
}
.bi_con_fr  #pjzc_tab{
	padding-top:25px;
	overflow:hidden;
	
}
.bi_con_fr #pjzc_tab .tab01 {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    color: #6E6E6E;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    margin-top: 2px;
    text-align: center;
    width: 93px;
}
.bi_con_fr #pjzc_tab .tab02 {
    background: url("../images/Policy/zcnr_tabbj.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
	margin-top:2px;
    text-align: center;
    width: 102px;
}
.bi_con_fr #pjzc_tab span {
    background: url("../images/Policy/ge2.jpg") no-repeat scroll center center transparent;
    border-bottom: 2px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    float: left;
    height: 32px;
    margin-top: 2px;
    width: 9px;
}
.bi_con_fr #pjzc_tab_content .content {
	display:none;
	background:none;
	padding:10px 20px 30px 0;
	line-height:1.9em;
}



/*table 样式*/
.table_form{
	border:0;
    color: #4d4d4d;
    line-height: 2.2em;
	table-layout: fixed; 
	width: 100%;
	margin-top:8px;
}
.table_form td {
    padding: 5px;
    text-align: center;
}
.table_form .left{
	text-align:right;
}
.table_form .right{
	text-align:left;
}
.table_form .line{
	border-top:1px solid #e6e6e6;
}
.table_form div table {
    border-left: 0 dashed #E1E1E1;
    border-top: 0 dashed #E1E1E1;
}
.table_form div table td {
    border-bottom: 0 dashed #E1E1E1;
    border-right: 0 dashed #E1E1E1;
    padding: 0;
}
.table_form input[type="text"], .table_form input[type="password"] {
    height: 100%;
}
.table_form input[type="text"], .table_form input[type="password"], .table_form textarea {
    border: 1px solid #CCCCCC;
    font-family: 微软雅黑;
    font-size: 13px;
    height: 25px;
	line-height:25px;
    vertical-align: middle;
    width: 100%;
	background:#f6f6f6;
	border-radius:3px;
}
.table_form .ip_fouse {
    border: 1px solid #5ca3eb !important;
	color:#0d65be;
	background:#fff  !important;
}
.table_form .required{
	color:#ff0000;
	margin-right:5px;
}

.table_form.register_tb{
	font-size:14px;
}
.table_form.register_tb td{
	padding:8px 5px;
}
.con_button, .con_button:hover, .con_button_dark, .con_button_dark:hover  {
	display:inline-block;
	width:114px;
	height:30px;
	line-height:30px;
	color:#FFF;
	text-align:center;
	background:url(../images/btn03.gif) no-repeat 0 0 transparent;
}
.con_button_dark , .con_button_dark:hover 
{
	background:url(../images/btn03_dark.gif) no-repeat 0 0 transparent;
}
.btn04{
	display:inline-block;
	width:114px;
	height:30px;
	line-height:30px;
	color:#FFF;
	text-align:center;
	background:url(../images/btn04.gif) no-repeat 0 0 transparent;
}
.btn04:hover{
	color:#fff;
}
.warning{
	background:url(../images/warning.gif) no-repeat left center transparent;
	padding-left:23px;
	font-size:12px;
	 color:#a2a2a2;
}
.correct{
	background:url(../images/correct.gif) no-repeat left center transparent;
	padding-left:23px;
	font-size:12px;
	 color:#a2a2a2;
}
.error{
	background:url(../images/error.gif) no-repeat left center transparent;
	padding-left:23px;
	font-size:12px;
	 color:#a2a2a2;
}
/*new add by sunaixiang in2013/11/19*/
.com_list_title_detail li{
	background:url(../images/right_arrow.gif) no-repeat scroll 2px center transparent;
	margin-bottom:4px;
	border-bottom:1px dotted #e1e1e1;
	padding:3px 0;
}
.com_list_title_detail li .title{
	margin-bottom:2px;
}
.com_list_title_detail li .title a{
	color:#252525;
	font-size:13px;
	padding-left:15px;
}
.com_list_title_detail li .title .date{
	margin-left:16px;
	float:right;
	display:none;
}
.com_list_title_detail li .detail{
	color:#7a7575;
	font-family:"宋体";
	display:none;
}
.com_list_title_detail li .dot{
	color:#0084ff;
	margin-right:2px;
}
.com_list_title_detail .ImgNews{
	background:none;
	overflow:hidden;
	padding-bottom:10px;
}
.com_list_title_detail .ImgNews .data{
	display:none;
}
.com_list_title_detail .ImgNews .dot{
	display:none;
}
.com_list_title_detail .ImgNews .detail{
	display:block;
}
.com_list_title_detail .ImgNews .title{
}
.com_list_title_detail .ImgNews .title a{
	font-size:13px;
	padding-left:0;
}
.com_list_title_detail  .sp_img{
	display:none;
}
.com_list_title_detail .ImgNews .sp_img{
	display:block;
	margin-right:10px;
}



.con_nav_ul li .chlid_nav{
	position:relative;
	padding-left:10px;
}
.con_nav_ul li .chlid_nav dl{
	overflow:hidden;
	background:#f3f3f3;
}
.con_nav_ul li .chlid_nav dd{
	padding:0 15px;
}
.con_nav_ul li .chlid_nav dd a{
	background:none;
	border-bottom:1px solid #c8c8c8;
	font-size:12px;
	height:30px;
	line-height:30px;
	padding-left:14px;
}
.con_nav_ul li .chlid_nav dd a:hover, .con_nav_ul li .chlid_nav dd a.on{
	color:#0d64a7;
	background:url(../images/resource_center/erji_02.gif) no-repeat scroll left center transparent;
}
.con_nav_ul li .chlid_nav .chlid_nav_arrow{
	background:url(../images/resource_center/erji_01.gif) no-repeat scroll 0 0 transparent;
	width:12px;
	height:10px;
	position:absolute;
	left:0;
	top:0;
}
/*所有详细英文字母要截断*/
.detail{
	word-break:break-all;
}

/*模块样式*/
.com_model {
	overflow:hidden;
}
.com_model .head{
	height:28px;
	background:url(../images/mod_xian.gif) repeat-x scroll 0 bottom transparent;
}
.com_model .head .title{
	color:#2d2d2d;
	height:24px;
	display:inline-block;
	line-height:15px;
	padding:0 12px 0 5px;
	font-size:16px;
	font-family:microsoft yahei;
	color:#25845a;
	border-bottom:4px solid #25845a;
}
.com_model .head .title img{
	display:inline-block;
	vertical-align:top;
}
.com_model .head .more{
	width:37px;
	height:13px;
	margin-top:8px;
	background:url(../images/more.gif) no-repeat scroll 0 0 transparent;
	display:inline-block;
}
.com_model .head .more_a a{
	margin:0 5px;
}
.com_model .content{
	position:relative;
	margin-top:10px;
	/*padding-top:10px;*/
	/*border:1px solid #e1e1e1;*/
	/*padding:10px 10px 0;*/
}
.com_model.hasborder .content{
	margin-top:0;
	padding-top:0px;
	padding-bottom:5px;
	border:1px solid #e1e1e1;
	border-top:none;
}
.com_model.hasborder .content .images_newslist dd{
	border-bottom:none;
	height:75px;
}


/*图片滚动*/
.scroll_img{
    position: relative;
    width: 608px;
	height:258px;
}
.scroll_img .imagesshow {
    overflow: hidden;
}
.scroll_img .imagesshow #bigimga {
display:block;
height: 258px;
width: 608px;
overflow:hidden;
}
.scroll_img .imagesshow #bigimga img{
	display:block;
	width: 608px;
	height: 258px;

}
.scroll_img img {
	display:block;
}
.scroll_img .imagesindex {
display: block;
    position: absolute;
    right: 8px;
    bottom: 8px;
    z-index: 9999;
}
.scroll_img .imagesindex span {
cursor:pointer;
display:inline;
float:left;
font-size:12px;
font-weight:700;
height:15px;
line-height:15px;
text-align:center;
margin-left:3px;
width:15px;
z-index:999;
}
.scroll_img .imagesindex span img{
	vertical-align:middle;
}

.scroll_img .imagesindex span a {
color:#BE1800;
text-decoration:none;
}
.list_model{
	position:relative;
	height:231px;
}
.list_model img{
	display:block;

}
.list_model h1.top_xian{
	height:6px;
	background:#0285b9;
}
.body_ssjj{
	width:663px;
}
.ssjj_img{
	display:inline-block;
	padding:1px;
	border:1px solid #c5c4c5;
	margin:10px 20px 0 10px;
}
.list_model .title{
}
.list_model .detail{
	line-height:1.9em;
	color:#767677;
	padding:10px 5px 0 10px;
	
}
/*联系信息*/
.lxxx_ul li{
	border-bottom:1px solid #dddddd;
	width:351px;
	padding:10px 5px;
}
.lxxx_ul li .name{
	display:inline-block;
	width:70px;
	text-align:right;
	margin-right:10px;
	padding-left:34px;
}
.lxxx_ul li .name{
	background-image:url(../images/lxxx_all.gif);
	background-repeat:no-repeat;
}
.lxxx_ul li .complay{
	background-position:0 0;
}
.lxxx_ul li .phone{
	background-position:0 -169px;
}
.lxxx_ul li .address{
	background-position:0 -42px;
}
.lxxx_ul li .hotline{
	background-position:0 -208px;
}
.lxxx_ul li .postcode{
	background:none;
}
.lxxx_ul li .fax{
	background-position:0 -249px;
}
.lxxx_ul li .email{
	background-position:0 -122px;
}
.lxxx_ul li .url{
	background-position:0 -289px;
}
/*+ -*/
.fn-amount {
    position: relative;
	line-height:18px;
}

.fn-amount .minus, .fn-amount .plus {
    border: 1px solid #CCCCCC;
    cursor: pointer;
    display: inline-block;
    height: 11px;
    margin-top: 3px;
    overflow: hidden;
    vertical-align: top;
    width: 11px;
}
.fn-amount .text {
    line-height: 17px;
	margin:0 4px;
	font: 100% Tahoma,Helvetica,Arial,sans-serif;
}
.fn-amount .text {
    height: 17px;
    text-align: center;
    width: 34px;
}
.fn-amount .text {
    border: 1px solid #CCCCCC;
    outline: 0 none;
    resize: none;
}

.fn-amount .minus, .fn-amount .plus {
    border: 1px solid #CCCCCC;
    cursor: pointer;
    display: inline-block;
    height: 11px;
    margin-top: 3px;
    overflow: hidden;
    vertical-align: top;
    width: 11px;
	background: url("../images/T1E2CIXEdeXXcb7s2x-30-600.png") no-repeat scroll 0 0 transparent;
}
.fn-amount .plus {
    background-position: 2px -159px;
    margin-left: 3px;
}
.fn-amount .minus {
    background-position: 2px -219px;
    margin-right: 3px;
}
.bc_img{
	border:1px solid #cccccc;
	width:82px;
	height:75px;
}
/*img scroll*/
#img_news{
	width:290px;
	height:219px;
	position:relative;
}
.imagesshow #bigimga {
    cursor: pointer;
    display: block;
    height: 185px;
    overflow: hidden;
    width: 290px;
}
.imagesshow #bigimga img{
	height: 185px;
	width: 290px;
}
#img_news .imagestitle{
	position:absolute;
	width:270px;
	height:28px;
	line-height:28px;
	left:0px;
	bottom:0px;
	padding:0 10px;
	overflow:hidden;
	z-index:99;
	font-size:14px;
}
#img_news .imagesindex{
	position:absolute;
	right:120px;
	bottom:-50px;
	z-index:100;
	height:18px;
}
#img_news .imagesindex a{
	float:left;
	display:inline;
	width:8px;
	height:8px;
	line-height:18px;
	text-align:center;
	margin-left:8px;
	background:url(../images/scroll_dot.gif) no-repeat scroll center center transparent;
	color:#FFF;
}
#img_news .imagesindex a.on{
	background:url(../images/scroll_dot_on.gif) no-repeat scroll center center transparent;
}
#img_news .imagestitle .title{
	color:#fff;
}

/*通用分类*/
.ssbwg_head{
	border-left:1px solid #D5D5D5;
	border-top:1px solid #D5D5D5;
	width:100%;
}
.ssbwg_head td{
	border-right:1px solid #D5D5D5;
	border-bottom:1px solid #D5D5D5;
	text-align:center;
	padding:7px 0;
}
.ssbwg_head td.left{
	text-align:left;
	padding:0 10px;
	position:relative;
}
.ssbwg_head td.title{
	color:#908b8b;
	width:150px;
}
.ssbwg_head td .condition.brand{
	margin-right:20px;
	width:745px;
	display:inline-block;
	height:23px;
	overflow:hidden;
}
.ssbwg_head td .condition.brand.showall{
	overflow:visible;
	height:auto;
	margin:5px 0;
}
.ssbwg_head td .condition a{
	margin:0 7px;
	padding:1px 6px;
	font-weight:bold;
	white-space:nowrap;
	float:left;
}
.ssbwg_head td .condition a:hover,.ssbwg_head td .condition a.on{
	background:#cf379e;
	color:#FFF;
}
.ssbwg_head td .condition.brand a{
	font-weight:normal;
	margin:2px 7px;
}
.ssbwg_head td .condition.brand a b{
	margin-right:5px;
}
.ssbwg_head td .more{
	padding-right:13px;
	background:url(../images/pink_down_arrow.gif) no-repeat scroll right center transparent;
	border-left:1px solid #2e2e2e;
	line-height:normal;
	padding-left:10px;
	margin:5px 10px 0 0;
}