@font-face {
font-family:'fz-EL';
src:url(http://s8.qhimg.com/static/af90903af25b1989/fz-l-sub.eot?#iefix);
src:url(http://s8.qhimg.com/static/af90903af25b1989/fz-l-sub.eot?#iefix) format('embedded-opentype'), url(http://s8.qhimg.com/static/1576a7c9bc70d5d2/fz-l-sub.woff) format('woff');
}
@font-face {
font-family:'fz-L';
src:url(http://s8.qhimg.com/static/af90903af25b1989/fz-l-sub.eot?#iefix);
src:url(http://s8.qhimg.com/static/af90903af25b1989/fz-l-sub.eot?#iefix) format('embedded-opentype'), url(http://s8.qhimg.com/static/1576a7c9bc70d5d2/fz-l-sub.woff) format('woff');
}
.font16px {
	font-size:16px !important;
}
.SC {
	background-image:url(http://p3.qhimg.com/t01d4743f2baa5a61b8.png)
}
.s-casa-number {
	background-position:0 0;
	height:660px;
	width:30px
}
.s-casa-scan {
	background-position:-30px 0;
	height:363px;
	width:418px
}
.s-casa-bundle-trial {
	background-position:-448px 0;
	height:74px;
	width:223px
}
.s-casa-bundle-normal {
	background-position:-671px 0;
	height:74px;
	width:223px
}
.s-casa-bundle-limited-edition {
	background-position:-894px 0;
	height:74px;
	width:223px
}
.s-casa-pin-top {
	background-position:-1117px 0;
	height:214px;
	width:192px
}
.s-icon-flower-l {
	background-position:-2333px 0;
	height:147px;
	width:170px
}
.s-casa-record {
	background-position:-2503px 0;
	height:145px;
	width:162px
}
.s-casa-bubble-sos {
	background-position:-2665px 0;
	height:152px;
	width:152px
}
.s-icon-wrong-place {
	background-position:-2817px 0;
	height:80px;
	width:80px
}
.s-icon-right-place {
	background-position:-2897px 0;
	height:80px;
	width:80px
}
.s-icon-flower-s {
	background-position:-2977px 0;
	height:64px;
	width:65px
}
.s-casa-pin-shadow {
	background-position:-3042px 0;
	height:24px;
	width:61px
}
.s-casa-play-button {
	background-position:-3103px 0;
	height:24px;
	width:24px
}
.b-tmall {
	background-position:-1309px 0;
	height:193px;
	width:128px
}
.b-tmall-hover {
	background-position:-1437px 0;
	height:193px;
	width:128px
}
.b-suning {
	background-position:-1565px 0;
	height:193px;
	width:128px
}
.b-suning-hover {
	background-position:-1693px 0;
	height:193px;
	width:128px
}
.b-qikoo {
	background-position:-1821px 0;
	height:193px;
	width:128px
}
.b-qikoo-hover {
	background-position:-1949px 0;
	height:193px;
	width:128px
}
.b-jd {
	background-position:-2077px 0;
	height:193px;
	width:128px
}
.b-jd-hover {
	background-position:-2205px 0;
	height:193px;
	width:128px
}
html {
	height:100%
}
.logo-inner {
	display:block
}
.site-casa {
	color:#333;
	height:100%
}
.site-casa a {
	text-decoration:none
}
.site-casa h1 {
	color:#483D01;
	font-size:60px;
	font-family:'fz-L', "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
	margin:20px 0 10px
}
.site-casa h1 small {
	background-color:#FFF;
	border-radius:20px;
	color:#fe5a72;
	display:inline-block;
	font-size:45px;
	height:60px;
	line-height:60px;
	margin:0 10px;
	text-align:center;
	vertical-align:8px;
	width:60px
}
.site-casa h2 {
	font-size:60px;
	line-height:90px
}
.site-casa .btn-buy {
	background:#fe5a72;
	border:0 none;
	border-radius:42px;
	color:#FFF;
	cursor:pointer;
	_cursor:hand;
	display:inline-block;
	font-size:25px;
	font-family:'fz-EL', "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
	outline:0 none;
	padding:18px 42px;
*vertical-align:middle
}
.site-casa .btn-buy:hover {
	background:#fe7d90
}
.site-casa .btn-buy:active {
	background:#fe97a6
}
.site-casa .btn-disabled {
	cursor:default
}
.site-casa .btn-disabled:hover, .site-casa .btn-disabled:active, .site-casa .btn-disabled {
	background:#bdbdbd
}
.site-casa .btn-bordered {
	border:1px solid #343433;
	border-radius:42px;
	color:#343433;
	display:inline-block;
	font-size:25px;
	font-family:'fz-EL', "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
	outline:0 none;
	padding:18px 42px;
*vertical-align:middle
}
.site-casa .wrap-actions {
	padding:20px 0 0
}
.site-casa .wrap-actions-2 {
	padding:10px 0
}
.site-casa .nav {
	left:0;
	position:fixed;
	_position:absolute;
	top:0;
transition:border-bottom-color .2s
}
.site-casa.onpage_intro .nav, .site-casa.onpage_buy .nav, .site-casa.onpage_ble .nav, .site-casa.onpage_sound .nav, .site-casa.onpage_flower .nav, .site-casa.onpage_cloud .nav {
	border-bottom-color:transparent
}
.site-casa.onpage_intro .M-pqr-wrap, .site-casa.onpage_buy .M-pqr-wrap, .site-casa.onpage_ble .M-pqr-wrap, .site-casa.onpage_sound .M-pqr-wrap, .site-casa.onpage_flower .M-pqr-wrap, .site-casa.onpage_cloud .M-pqr-wrap {
	border-color:transparent
}
.site-casa .M-pqr-wrap {
	position:fixed;
	_position:absolute;
	z-index:4
}
.container {
	height:100%;
*height:auto
}
.page {
	font-family:'fz-EL', "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
	height:100%;
*height:800px;
	min-width:1024px;
*min-width:1240px;
	overflow:hidden
}
.page-wrap {
	height:100%;
	margin:0 auto;
	position:relative;
	width:1000px
}
.page-inner {
	_height:100%;
	left:-120px;
	margin:0;
	min-height:100%;
	position:absolute;
	_position:static;
	right:-120px;
	top:0;
	width:auto;
	_width:1240px
}
.text-wrap {
	padding:120px
}
.text-wrap h2 {
	color:#555
}
.text-wrap p {
	color:#777;
	font-size:20px;
	line-height:30px
}
.page-intro .text-wrap h2 {
	color:#fffbe6
}
.page-intro .text-wrap p {
	color:#fff7cc
}
.page-buy .text-wrap h2 {
	color:#fffbe6
}
.page-buy .text-wrap p {
	color:#fff7cc
}
.page-sound .text-wrap h2 {
	color:#eefcf5
}
.page-sound .text-wrap p {
	color:#dcf9eb
}
.page-ble .text-wrap h2 {
	color:#e6f9fc
}
.page-ble .text-wrap p {
	color:#ccf3f9
}
.page-cloud .text-wrap h2 {
	color:#fff9eb
}
.page-cloud .text-wrap p {
	color:#fff2d7
}
.page-intro .text-wrap p {
	color:#343433
}
.page-flower .text-wrap h2, .page-flower .text-wrap p {
	color:#FFF
}
.page-intro {
    *height:100%;
}
.page-intro h1 {
	display:none
}
:root .page-intro h1 {
	display:block
}
.page-intro .ie7-shim {
	display:block;
	margin:20px 0
}
:root .page-intro .ie7-shim {
	display:none
}
.page-intro .page-inner {

}
.page-intro .text-wrap {
	font-size:26px;
	left:730px;
	margin:-130px 0 0;
	min-width:400px;
	padding:0;
	position:absolute;
	top:46%
}
.page-intro .text-wrap p {
	color:#8b7600
}
.page-intro .btn-link {
	color:#333;
	font-size:18px
}
.page-intro .btn-link:hover {
	color:#5b5429
}
.page-intro .btn-link.u:hover {
	border-bottom:1px solid
}
.page-intro .btn-link:active {
	color:#47432e
}
.page-intro .slogan {
	font-size:24px
}
.page-intro .s-casa-play-button {
	vertical-align:-4px
}
.page-intro .sep {
	margin:8px
}
.page-intro .scroll-down-wrap {
	bottom:-120px;
	cursor:pointer;
*display:none;
	left:50%;
	margin:0 0 0 -50px;
	opacity:.3;
	position:absolute
}

.smallContainer .page-intro .scroll-down-wrap{
	margin-right:-53px;
}
.page-intro .hint {
	display:none;
	position:fixed;
	right:10px;
	top:70px
}
.onpage_intro .page-intro .hint {
	visibility:visible
}
.page-intro .intro-flag {
	position:absolute;
	right:142px;
	top:61px
}
.page-intro .hint-buy {
	margin:10px 0 0 1px
}
.page-intro .pt {
	margin-top:16px
}
.page-intro .text-prize {
	font-size:16px;
	margin:38px 0 0
}
.page-intro .text-prize b {
	color:#fe5a72;
	font-family:'fz-L', "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
	font-size:46px;
	font-weight:400;
	margin:0 4px 0 0
}
.page-buy {
	padding:0 0 30px;
	/*background:url(../images/bj02.gif) repeat scroll 0 0 transparent;*/
	background:#FAFAFA;
}
.page-sound{
	/*background:url(../images/bj02.gif) repeat scroll 0 0 transparent;*/
	background:#fff;
}
.page-buy .panel {
	background:#fff7cc;
	border-radius:20px;
	_display:inline;
	float:left;
	margin-right:25px;
	padding:40px 0;
	text-align:center;
	width:350px
}
.page-buy .panel-wrap {
	margin:0 auto;
	padding-top:140px;
	width:1100px
}
.page.page-sound{
}
.page-buy .panel .m {
	margin:0 auto 20px
}
.page-buy .panel-last {
	margin-right:0
}
.page-buy .text-prize {
	font-size:16px;
	line-height:30px;
	margin:20px 0 4px
}
.page-buy .text-prize b {
	color:#fe5a72
}
.page-buy .text-prize b, .page-buy .text-prize em {
	font-family:'fz-L', "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
	font-size:30px;
	font-weight:400;
	line-height:30px;
	margin:0 4px 0 0
}
.page-buy .text-alt {
	color:#AAA;
	font-size:12px;
	margin:0 0 10px;
	text-align:left;
	text-indent:184px
}
.page-buy .btn-buy {
	border-radius:50px;
	font-size:22px;
	padding:15px 35px
}
.page-buy .btn-buy-alt {
	background:#fff7cc;
	border:1px solid #fe5a72;
	color:#fe5a72;
	margin:-1px
}
.page-buy .btn-buy-alt:hover {
	background:#fe5a72;
	border:0 none;
	color:#FFF;
	margin:0
}
.page-gps {
	background:url(../images/third.jpg) no-repeat scroll center 75px #f7f7f7;
}
.page-gps .page-inner {
	
}
.page-gps .text-wrap {
	padding:100px 150px
}
.page-gps .text-wrap .s {
	color:#BEBEBE
}
.page-gps .pin-wrap {
	left:658px;
	position:absolute;
	top:380px;
*width:188px;
	z-index:1
}
.page-gps .svg-way-school {
	margin:0 0 0 332px;
	stroke-dashoffset:0
}
.onpage_gps .page-gps .svg-way-school {
	-webkit-animation:ANIMATION_STROKE_OFFSET 4s linear infinite;
	animation:ANIMATION_STROKE_OFFSET 4s linear infinite
}
.page-snapping .page-gps .svg-way-school {
	-webkit-animation-play-state:paused;
	animation-play-state:paused
}
.onpage_gps .page-gps .s-casa-pin-top {
	-webkit-animation:ANIMATION_BOUNCE 4s ease-out infinite;
	animation:ANIMATION_BOUNCE 4s ease-out infinite
}
.page-snapping .page-gps .s-casa-pin-top {
	-webkit-animation-play-state:paused;
	animation-play-state:paused
}
.page-gps .s-casa-pin-shadow {
	margin:-11px auto;
	position:relative;
	z-index:-1
}
.onpage_gps .page-gps .s-casa-pin-shadow {
	-webkit-animation:ANIMATION_HEARTBEAT_FADE 4s ease-out infinite;
	animation:ANIMATION_HEARTBEAT_FADE 4s ease-out infinite
}
.page-snapping .page-gps .s-casa-pin-shadow {
	-webkit-animation-play-state:paused;
	animation-play-state:paused
}
@-webkit-keyframes ANIMATION_STROKE_OFFSET {
to {
stroke-dashoffset:22
}
}
@keyframes ANIMATION_STROKE_OFFSET {
to {
stroke-dashoffset:22
}
}
.page-ble {
	background:#00c2df;
	color:#FFF
}
.page-ble .page-inner {
	background:url(http://p2.qhimg.com/t018904867a23016a92.png) no-repeat 400px 230px;
	_background:none
}
.page-ble .bg-wrap {
	background:url(http://p2.qhimg.com/t0108199553ba77aea6.png) no-repeat 417px 319px;
	height:100%;
	position:absolute;
	top:0;
	width:100%;
	z-index:1
}
.page-ble .radar-outer {
	_display:none;
	opacity:0;
-webkit-transition:opacity .2s .5s;
transition:opacity .2s .5s
}
.page-ble .radar-wrap {
-webkit-animation:ANIMATION_SPIN 4s linear .2s infinite;
animation:ANIMATION_SPIN 4s linear .2s infinite;
	-webkit-backface-visibility:visible;
	height:363px;
	left:555px;
	position:absolute;
	top:243px;
	-webkit-transform-origin:215px 356px;
	transform-origin:215px 356px;
	width:418px
}
.page-ble .text-wrap {
	padding:120px;
	position:relative;
	z-index:2
}
.page-sos .page-inner {
	background:#fff url(http://p2.qhimg.com/t0164eb96f27356b528.png) 10px 70% no-repeat
}
.page-sos .text-wrap {
	left:50%;
	margin:0 0 0 -20px;
	padding:0;
	position:absolute;
	top:60%
}
.page-sos .bubble-wrap {
	left:0;
	margin:-170px 0 0 -56px;
	opacity:0;
	position:absolute;
	top:0;
	-webkit-transform:scale(0.7);
	transform:scale(0.7);
	-webkit-transform-origin:10px 10px;
	transform-origin:10px 10px;
-webkit-transition:0.5s .5s;
transition:0.5s .5s
}
.onpage_ble .page-ble .radar-outer {
	opacity:1;
	-webkit-transition-delay:0;
	transition-delay:0
}
.page-snapping .page-ble .radar-outer {
	opacity:0;
-webkit-transition-delay:.5s;
transition-delay:.5s
}
.onpage_sos .page-sos .bubble-wrap {
	opacity:1;
	-webkit-transform:none;
	transform:none;
	-webkit-transition-delay:0;
	transition-delay:0
}
.page-snapping .page-sos .bubble-wrap {
	opacity:0;
	-webkit-transform:scale(0.7);
	transform:scale(0.7);
-webkit-transition-delay:.5s;
transition-delay:.5s
}
@media (min-height: 800px) {
.page-sos .bubble-wrap {
margin:-147px 0 0 -56px
}
}
.page-sound {
}
.page-sound .page-inner {
	
}
.page-sound .bubble-wrap {
	height:141px;
	left:827px;
	position:absolute;
	top:418px;
	width:158px
}
@media (min-height: 820px) {
.page-sound .page-inner {
background-position:20px 240px
}
.page-sound .bubble-wrap {
top:454px
}
}
.d-n-tobe-2 {
*background-position:0 -132px
}
.d-n-tobe-0 {
*background-position:0 -660px
}
.d-n-tobe-6 {
*background-position:0 -1716px
}
.d-n-tobe-4 {
*background-position:0 -2244px
}
.page-cloud {
	background:#ffc039;
	color:#FFF
}
.page-flower {
	background:url(http://p1.qhimg.com/t01315fa8480b02921e.jpg) 50% 50% no-repeat;
	background-size:cover;
	-ms-behavior:url(/resource/other/backgroundsize.min.htc);
	color:#FFF
}
.page-flower, .page-outro {
	max-height:none
}
.page-sound .text-wrap {
	padding:110px 120px
}
.page-sound .wave {
	bottom:63px;
	height:38px;
	left:73px;
	overflow:hidden;
	position:absolute;
	visibility:hidden;
	width:24px
}
.page-health .page-inner {
	background:#fff url(http://p3.qhimg.com/t014a9be868bac98f35.jpg) 0 158px no-repeat
}
.page-health .text-wrap {
	padding:100px 0 0 560px
}
.page-health .svg-wrap {
	height:320px;
	padding:44px 0 0 686px;
	width:320px
}
.page-health .svg {
	margin:0 0 -320px
}
.page-health .downward-ie7 {
	margin:0 0 -320px 10px
}
.page-health .dashboard-wrap {
	padding:74px 0 0
}
.page-health .dashboard-title {
	font-size:30px;
	margin:0 0 24px;
*position:relative;
	text-align:center
}
.page-health .dashboard-number {
	padding:0 0 0 96px;
	position:relative
}
.page-health .dashboard-measure {
	display:inline-block;
	padding:48px 0 0 10px
}
.page-health .d-n {
	background-image:url(http://p3.qhimg.com/t01d4743f2baa5a61b8.png);
	background-position:0 0;
	background-repeat:repeat-y;
	float:left;
	height:66px;
	margin:0 2px 0 0;
-webkit-transition:background-position ease-in-out .6s;
transition:background-position ease-in-out .6s;
	-webkit-transition-delay:0.5s;
	transition-delay:0.5s;
	width:30px
}
.page-cloud .page-inner {
	z-index:1
}
.page-cloud .bg-wrap {
	background:url(http://p3.qhimg.com/t015369ccde7bd2ab1d.jpg) 0 0 no-repeat;
	height:868px;
*height:663px;
	left:50%;
	margin:0 0 0 -290px;
	position:absolute;
	top:137px;
	width:904px;
	z-index:-1
}
.page-cloud .s-icon-right-place {
	left:384px;
	top:334px
}
.page-cloud .s-icon-wrong-place {
	left:587px;
	top:370px
}
.page-cloud .s-icon-right-place, .page-cloud .s-icon-wrong-place {
	opacity:0;
	position:absolute;
	-webkit-transform:scale(1.5);
	transform:scale(1.5);
	-webkit-transition:0.3s ease-in;
	transition:0.3s ease-in
}
.page-cloud .s-icon-right-place {
	-webkit-transition-delay:1s;
	transition-delay:1s
}
.page-cloud .s-icon-wrong-place {
	-webkit-transition-delay:0.7s;
	transition-delay:0.7s
}
.page-flower .text-wrap {
	bottom:80px;
	left:80px;
	padding:30px 50px 36px 36px;
	position:absolute;
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ccff825b, endcolorstr=#ccff825b)
}
.page-flower .flower-s {
	background-image:url(http://p3.qhimg.com/t01d4743f2baa5a61b8.png);
	background-position:-2977px 0;
	height:64px;
	left:-10px;
	opacity:0;
	position:absolute;
	top:-10px;
	-webkit-transform:rotate(-100deg) scale(0.3);
	transform:rotate(-100deg) scale(0.3);
-webkit-transition:0.4s .7s ease-in-out;
transition:0.4s .7s ease-in-out;
	width:65px
}
.page-flower .flower-l {
	background-image:url(http://p3.qhimg.com/t01d4743f2baa5a61b8.png);
	background-position:-2333px 0;
	bottom:-20px;
	height:147px;
	position:absolute;
	right:-50px;
	width:170px
}
.page-outro .center-wrap {
	margin:-250px 0 0;
	position:absolute;
	top:50%;
	width:100%
}
.page-outro .bg-wrap {
	background:url(http://p1.qhimg.com/t01966e340be55589c5.jpg) 50% 0 no-repeat;
	height:428px
}
.page-outro .text-wrap {
	padding:15px 0 0;
	text-align:center
}
.page-sound .wave .ie7-shim {
	padding:16px 0 0
}
.onpage_cloud .page-cloud .s-icon-right-place, .onpage_cloud .page-cloud .s-icon-wrong-place {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
:root .page-flower .text-wrap {
	-ms-filter:none;
	background:rgba(255, 130, 91, 0.8)
}
.onpage_flower .page-flower .flower-s {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
.onpage_sound.page-stable .page-sound .wave {
	visibility:visible
}
.page-stable.onpage_health .page-health .d-n-tobe-2 {
	background-position:0 -132px
}
.page-stable.onpage_health .page-health .d-n-tobe-0 {
	background-position:0 -660px
}
.page-stable.onpage_health .page-health .d-n-tobe-6 {
	background-position:0 -1716px
}
.page-stable.onpage_health .page-health .d-n-tobe-4 {
	background-position:0 -2244px
}
.page-stable.onpage_health .page-health .d-n-1 {
	-webkit-transition-delay:0.15s;
	transition-delay:0.15s
}
.page-stable.onpage_health .page-health .d-n-2 {
	-webkit-transition-delay:0.3s;
	transition-delay:0.3s
}
.page-stable.onpage_health .page-health .d-n-3 {
	-webkit-transition-delay:0.45s;
	transition-delay:0.45s
}
.page-stable.onpage_health .page-health .d-n-4 {
	-webkit-transition-delay:0.6s;
	transition-delay:0.6s
}
@media (min-height: 620px) {
.page-outro .text-wrap {
padding:40px 0 0
}
}
.page-outro .text-wrap b {
	color:#fe5a72;
	font-size:30px
}
.page-outro .text-wrap p {
	font-size:24px
}
.page-outro p.small {
	font-size:16px;
	margin:10px 0
}
.page-outro p.small .sep {
	margin:9px
}
.page-outro span.small {
	font-size:20px
}
.page-outro .sep {
	margin:10px
}
.page-outro .link-text {
	border-bottom:1px solid;
	color:#333
}
.popup-wrap {
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#33000000, endcolorstr=#33000000);
	height:100%;
	left:0;
	position:fixed;
	_position:absolute;
	top:0;
_top:expression(eval(document.documentElement.scrollTop));
	width:100%;
	z-index:102
}
:root .popup-wrap {
	-ms-filter:none;
	background:rgba(0, 0, 0, 0.2)
}
.popup-wrap embed {
	left:50%;
	margin:-212.5px 0 0 -375px;
	position:absolute;
	top:50%
}
.popup-wrap .s-btn-close-popup {
	cursor:pointer;
	left:50%;
	margin:-262.5px 0 0 375px;
	position:absolute;
	top:50%;
	_zoom:1
}
.popup-wrap .s-recharge-btn-close {
	position:absolute;
	right:22px;
	top:22px
}
.popup-wrap .btn {
	display:inline-block;
	margin:0 27px
}
.popup-wrap .qikoo {
	background-position:-1821px 0;
	height:193px;
	width:128px
}
.popup-wrap .qikoo:hover {
	background-position:-1949px 0;
	height:193px;
	width:128px
}
.popup-wrap .jd {
	background-position:-2077px 0;
	height:193px;
	width:128px
}
.popup-wrap .jd:hover {
	background-position:-2205px 0;
	height:193px;
	width:128px
}
.popup-wrap .suning {
	background-position:-1565px 0;
	height:193px;
	width:128px
}
.popup-wrap .suning:hover {
	background-position:-1693px 0;
	height:193px;
	width:128px
}
.popup-wrap .tmall {
	background-position:-1309px 0;
	height:193px;
	width:128px
}
.popup-wrap .tmall:hover {
	background-position:-1437px 0;
	height:193px;
	width:128px
}
.popup-wrap:hover {
	color:#fe7387
}
.popup-inner {
	background:#FFF;
	border-radius:16px;
	left:50%;
	margin:-145px 0 0 -410px;
	overflow:hidden;
	position:absolute;
	top:50%;
	width:820px
}
.popup-header {
	border-bottom:1px solid #e8e8e8;
	box-shadow:0 5px 10px #E8E8E8;
	color:#555;
	font-size:24px;
	font-family:'fz-EL', "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
	line-height:67px;
	text-align:center
}
.popup-body {
	padding:50px 0 70px;
	text-align:center
}
.pager-wrap {
	font-size:16px;
	line-height:36px;
	margin:-100px 0 0;
	position:fixed;
	right:10px;
	top:50%;
-webkit-transition:0.4s .4s;
transition:0.4s .4s;
	z-index:4
}
.onpage_footer .pager-wrap {
	margin:0 0 0
}
.pager-link{
	position:relative;
	display:block;
	height:18px;
	outline:0 none;
	text-align:center;
	width:18px;
	margin-bottom:6px;
	background:url(../images/dot1.png) no-repeat scroll 1px 0 transparent;
}
.pager-link i{
    color: #444140;
    font-family: "Microsoft YaHei","΢���ź�","����",Arial;
    height: 18px;
    left: 108px;
    line-height: 18px;
    position: absolute;
    text-align: right;
    top: -2px;
	font-size:12px;
	font-style:normal;
    transition: all 300ms ease-out 0s;
    width: 102px;
}
.pager-link:hover i {
    left: -108px;
}
.onpage_intro .pager-link {
	
}
:root .onpage_intro .pager-link {
	-ms-filter:none;
	color:rgba(255, 255, 255, 0.5)
}
.onpage_intro .pager-link:hover {
	background:url(../images/dot1.png) no-repeat scroll right 0 transparent;
}
.onpage_intro .pager-link.pager-link-0 {
	background:url(../images/dot1.png) no-repeat scroll right 0 transparent;
}
.onpage_buy .pager-link {
	color:#fff;
	filter:alpha(opacity=50)
}
:root .onpage_buy .pager-link {
	-ms-filter:none;
	color:rgba(255, 255, 255, 0.5)
}
.onpage_buy .pager-link:hover {
	background:url(../images/dot1.png) no-repeat scroll right 0 transparent;
}
.onpage_buy .pager-link.pager-link-2 {
	background:url(../images/dot1.png) no-repeat scroll right 0 transparent;
}
.onpage_gps .pager-link.pager-link-3 {
	background:url(../images/dot1.png) no-repeat scroll right 0 transparent;
}
.onpage_award .pager-link.pager-link-1 {
	background:url(../images/dot1.png) no-repeat scroll right 0 transparent;
}
.onpage_sound .pager-link {
	color:#fff;
	filter:alpha(opacity=50)
}
:root .onpage_sound .pager-link {
	-ms-filter:none;
	color:rgba(255, 255, 255, 0.5)
}
.onpage_sound .pager-link:hover {
	color:#fff;
	filter:none
}
.onpage_sound .pager-link.pager-link-4 {
	background:url(../images/dot1.png) no-repeat scroll right 0 transparent;
}
/*page5*/
.onpage_sound5 .pager-link {
	color:#fff;
	filter:alpha(opacity=50)
}
:root .onpage_sound5 .pager-link {
	-ms-filter:none;
	color:rgba(255, 255, 255, 0.5)
}
.onpage_sound5 .pager-link:hover {
	color:#fff;
	filter:none
}
.onpage_sound5 .pager-link.pager-link-5 {
	background:url(../images/dot1.png) no-repeat scroll right 0 transparent;
}
/*page5*/
/*page6*/
.onpage_sound6 .pager-link {
	color:#fff;
	filter:alpha(opacity=50)
}
:root .onpage_sound6 .pager-link {
	-ms-filter:none;
	color:rgba(255, 255, 255, 0.5)
}
.onpage_sound6 .pager-link:hover {
	color:#fff;
	filter:none
}
.onpage_sound6 .pager-link.pager-link-6 {
	background:url(../images/dot1.png) no-repeat scroll right 0 transparent;
}
/*page6*/
.onpage_footer .pager-link {
	color:#fff;
	filter:alpha(opacity=50)
}
:root .onpage_footer .pager-link {
	-ms-filter:none;
	color:rgba(255, 255, 255, 0.5)
}
.onpage_footer .pager-link:hover {
	color:#fff;
	filter:none
}
.onpage_footer .pager-link.pager-link-5 {
	background:url(../images/dot1.png) no-repeat scroll right 0 transparent;
}

.onpage_ble .pager-link {
	color:#fff;
	filter:alpha(opacity=50)
}
:root .onpage_ble .pager-link {
	-ms-filter:none;
	color:rgba(255, 255, 255, 0.5)
}
.onpage_ble .pager-link:hover {
	color:#fff;
	filter:none
}

:root .pager-link {
	-ms-filter:none;
	color:rgba(170, 170, 170, 0.5)
}
.pager-link:hover {
	color:#aaa;
	filter:none
}
.onpage_footer .pager-link {
	-ms-filter:none;
	color:rgba(170, 170, 170, 0.5)
}
:root .onpage_footer .pager-link{
	-ms-filter:none;
	color:rgba(170, 170, 170, 0.5)
}

.parallax-alt, .parallax {
	-webkit-transition:0.45s ease-out;
	transition:0.45s ease-out
}
.onpage_intro .page-buy .parallax {
	-webkit-transform:translateY(60px);
	transform:translateY(60px)
}
.onpage_intro .page-buy .parallax-alt {
	-webkit-transform:translateY(90px);
	transform:translateY(90px)
}
.onpage_intro .page-buy .parallax {
	-webkit-transform:translateY(60px);
	transform:translateY(60px)
}
.onpage_intro .page-buy .parallax-alt {
	-webkit-transform:translateY(90px);
	transform:translateY(90px)
}
.onpage_buy .page-intro .parallax {
	-webkit-transform:translateY(-90px);
	transform:translateY(-90px)
}
.onpage_buy .page-intro .parallax-alt {
	-webkit-transform:translateY(-60px);
	transform:translateY(-60px)
}
.onpage_buy .page-gps .parallax {
	-webkit-transform:translateY(60px);
	transform:translateY(60px)
}
.onpage_buy .page-gps .parallax-alt {
	-webkit-transform:translateY(90px);
	transform:translateY(90px)
}
.onpage_gps .page-buy .parallax {
	-webkit-transform:translateY(-90px);
	transform:translateY(-90px)
}
.onpage_gps .page-buy .parallax-alt {
	-webkit-transform:translateY(-60px);
	transform:translateY(-60px)
}
.onpage_gps .page-sound .parallax {
	-webkit-transform:translateY(60px);
	transform:translateY(60px)
}
.onpage_gps .page-sound .parallax-alt {
	-webkit-transform:translateY(90px);
	transform:translateY(90px)
}
.onpage_sound .page-gps .parallax {
	-webkit-transform:translateY(-90px);
	transform:translateY(-90px)
}
.onpage_sound .page-gps .parallax-alt {
	-webkit-transform:translateY(-60px);
	transform:translateY(-60px)
}
.onpage_sound .page-ble .parallax {
	-webkit-transform:translateY(60px);
	transform:translateY(60px)
}
.onpage_sound .page-ble .parallax-alt {
	-webkit-transform:translateY(90px);
	transform:translateY(90px)
}
.onpage_ble .page-sound .parallax {
	-webkit-transform:translateY(-90px);
	transform:translateY(-90px)
}
.onpage_ble .page-sound .parallax-alt {
	-webkit-transform:translateY(-60px);
	transform:translateY(-60px)
}
.onpage_ble .page-sos .parallax {
	-webkit-transform:translateY(60px);
	transform:translateY(60px)
}
.onpage_ble .page-sos .parallax-alt {
	-webkit-transform:translateY(90px);
	transform:translateY(90px)
}
.onpage_sos .page-ble .parallax {
	-webkit-transform:translateY(-90px);
	transform:translateY(-90px)
}
.onpage_sos .page-ble .parallax-alt {
	-webkit-transform:translateY(-60px);
	transform:translateY(-60px)
}
.onpage_sos .page-cloud .parallax {
	-webkit-transform:translateY(60px);
	transform:translateY(60px)
}
.onpage_sos .page-cloud .parallax-alt {
	-webkit-transform:translateY(90px);
	transform:translateY(90px)
}
.onpage_cloud .page-sos .parallax {
	-webkit-transform:translateY(-90px);
	transform:translateY(-90px)
}
.onpage_cloud .page-sos .parallax-alt {
	-webkit-transform:translateY(-60px);
	transform:translateY(-60px)
}
.onpage_cloud .page-health .parallax {
	-webkit-transform:translateY(60px);
	transform:translateY(60px)
}
.onpage_cloud .page-health .parallax-alt {
	-webkit-transform:translateY(90px);
	transform:translateY(90px)
}
.onpage_health .page-cloud .parallax {
	-webkit-transform:translateY(-90px);
	transform:translateY(-90px)
}
.onpage_health .page-cloud .parallax-alt {
	-webkit-transform:translateY(-60px);
	transform:translateY(-60px)
}
.onpage_health .page-flower .parallax {
	-webkit-transform:translateY(60px);
	transform:translateY(60px)
}
.onpage_health .page-flower .parallax-alt {
	-webkit-transform:translateY(90px);
	transform:translateY(90px)
}
.onpage_flower .page-health .parallax {
	-webkit-transform:translateY(-90px);
	transform:translateY(-90px)
}
.onpage_flower .page-health .parallax-alt {
	-webkit-transform:translateY(-60px);
	transform:translateY(-60px)
}
.onpage_flower .page-outro .parallax {
	-webkit-transform:translateY(60px);
	transform:translateY(60px)
}
.onpage_flower .page-outro .parallax-alt {
	-webkit-transform:translateY(90px);
	transform:translateY(90px)
}
.onpage_outro .page-flower .parallax {
	-webkit-transform:translateY(-90px);
	transform:translateY(-90px)
}
.onpage_outro .page-flower .parallax-alt {
	-webkit-transform:translateY(-60px);
	transform:translateY(-60px)
}
@-webkit-keyframes ANIMATION_BOUNCE {
4% {
-webkit-transform:translateY(-20px) scaleY(0.99)
}
8% {
-webkit-transform:none
}
12% {
-webkit-transform:translateY(-20px) scaleY(0.99)
}
16% {
-webkit-transform:none
}
}
@keyframes ANIMATION_BOUNCE {
4% {
transform:translateY(-20px) scaleY(0.99)
}
8% {
transform:none
}
12% {
transform:translateY(-20px) scaleY(0.99)
}
16% {
transform:none
}
}
@-webkit-keyframes ANIMATION_HEARTBEAT_FADE {
4% {
-webkit-transform:scale(0.7)
}
8% {
-webkit-transform:none
}
12% {
-webkit-transform:scale(0.7)
}
16% {
-webkit-transform:none
}
}
@keyframes ANIMATION_HEARTBEAT_FADE {
4% {
transform:scale(0.7)
}
8% {
transform:none
}
12% {
transform:scale(0.7)
}
16% {
transform:none
}
}
@-webkit-keyframes ANIMATION_SPIN {
100% {
-webkit-transform:rotate(360deg)
}
}
@keyframes ANIMATION_SPIN {
100% {
transform:rotate(360deg)
}
}
.site-buy {
	background:#f53357 url(http://p1.qhimg.com/t01f94fe70ea3ce6158.jpg) no-repeat 50% 0
}
.site-buy .page {
	height:auto
}
.site-buy .nav, .site-buy .footer {
	display:none
}
.site-buy .page-buy {
	background:url(http://p3.qhimg.com/t01e443292aada56a87.png) no-repeat 50% 216px;
	height:740px
}
.site-buy .site-nav {
	position:absolute;
	right:0;
	top:0;
	z-index:1
}
.site-buy .inner {
	margin:0 auto;
	padding:770px 0 0;
	width:1000px
}
.site-buy .BL {
	margin:0 -80px 0 0
}
.site-buy .B {
	color:#FFF;
	_display:inline;
	float:left;
	margin:0 48px 0 0;
*margin:0 32px 0 0;
	text-align:center;
	width:212px
}
.site-buy .B-last {
	margin:0
}
.site-buy .btn-buy {
	background:url(http://p3.qhimg.com/t01c02e60a28ff287fd.png) no-repeat 0 0;
	color:#b6600b;
	cursor:pointer;
	display:block;
	font-family:'fz-L', "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
	font-size:24px;
	height:80px;
	line-height:78px;
	text-decoration:none;
	width:212px
}
.site-buy .btn-buy:hover {
	background-position:0 -100px
}
.site-buy .btn-buy:active {
	background-position:0 -200px
}

#controlDiv{
	position:relative;
	overflow:hidden;
}
/*.page-intro {
	background:url(../images/firstbj.jpg) no-repeat scroll center 74px transparent;
	background:url(../banner/firstbj.jpg) no-repeat scroll center 73px transparent;
}*/
/*.smallContainer .page-intro {
    background:url(../banner/firstbj1366.jpg) no-repeat scroll center 73px transparent;

}
.smallContainerToo .page-intro {
    background:url(../banner/firstbj1366.jpg) no-repeat scroll center 73px transparent;

}*/