@font-face {
font-family:'fz-EL';
src:url(http://s8.qhimg.com/static/af90903af25b1989/fz-l-sub.eot?#iefix);
src:url(http://s8.qhimg.com/static/af90903af25b1989/fz-l-sub.eot?#iefix) format('embedded-opentype'), url(http://s8.qhimg.com/static/1576a7c9bc70d5d2/fz-l-sub.woff) format('woff');
}
@font-face {
font-family:'fz-L';
src:url(http://s8.qhimg.com/static/af90903af25b1989/fz-l-sub.eot?#iefix);
src:url(http://s8.qhimg.com/static/af90903af25b1989/fz-l-sub.eot?#iefix) format('embedded-opentype'), url(http://s8.qhimg.com/static/1576a7c9bc70d5d2/fz-l-sub.woff) format('woff');
}
.nt {
	font:0/0 a;
	overflow:hidden
}
.ilblk {
	display:inline-block;
*display:inline;
*zoom:1
}
.pr {
	position:relative
}
.pa {
	position:absolute
}
.z2 {
	z-index:2
}
.cp {
	cursor:pointer;
	_cursor:hand
}
.tr {
	text-align:right
}
.tc {
	text-align:center
}
.tl {
	text-align:left
}
.fr {
	_display:inline;
	float:right
}
.fl {
	_display:inline;
	float:left
}
.db {
	display:block
}
.dn {
	display:none
}
.ell {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.w {
	width:100%
}
.clearfix {
*zoom:1
}
.clearfix:after {
	clear:both;
	content:"\0020";
	display:block;
	height:0
}
.t12 {
	font-size:12px
}
i.s, span.s, label.s {
	font-size:70%
}
.z1 {
	z-index:1
}
.h100 {
	height:100%
}
.ov {
	overflow:hidden;
*zoom:1
}
input[type=text] {
	box-sizing:content-box;
	-moz-box-sizing:content-box
}
body {
	font-family:Arial, "Microsoft YaHei", "Hiragino Sans GB", sans-serif
}
:active {
	outline:none
}
html, body {
	margin:0;
	padding:0
}
.link-outing {
	border-bottom:1px solid
}
.cont-outer {
	overflow:hidden
}
.cont-inner {
	margin:0 auto;
	width:1000px
}
.SS {
	background-image:url(http://p2.qhimg.com/t01345b23f5845a13b8.png)
}
.s-qrcode-weixin {
	background-position:0 0;
	height:194px;
	width:168px
}
.s-qrcode-app {
	background-position:-169px 0;
	height:174px;
	width:150px
}
.s-qrcode-weixin-alt {
	background-position:-320px 0;
	height:174px;
	width:150px
}
.s-recharge-success {
	background-position:-471px 0;
	height:106px;
	width:106px
}
.s-info-service-call {
	background-position:-471px -107px;
	height:73px;
	width:415px
}
.s-btn-close-popup {
	background-position:-578px 0;
	height:50px;
	width:50px
}
.s-icon-android {
	background-position:-169px -175px;
	height:32px;
	width:27px
}
.s-icon-apple {
	background-position:-197px -175px;
	height:31px;
	width:27px
}
.s-info-postsale {
	background-position:-225px -181px;
	height:31px;
	width:499px
}
.s-recharge-btn-close {
	background-position:-578px -51px;
	height:25px;
	width:23px
}
.s-icon-faq {
	background-position:-578px -77px;
	height:19px;
	width:22px
}
.s-recharge-mapmark {
	background-position:0 -195px;
	height:17px;
	width:13px
}
.s-recharge-mapmark-hover {
	background-position:-14px -195px;
	height:17px;
	width:13px
}
.s-logo {
	background-position:-601px -77px;
	height:14px;
	width:143px
}
.s-recharge-error {
	background-position:-887px 0;
	height:16px;
	width:16px
}
.bank-ico {
	background:url(http://p3.qhimg.com/t01f14fd8fca8f2ebb9.jpg) 0 0 no-repeat;
	display:block;
	height:40px;
	margin:0 0 0 4px;
	width:135px
}
.bank-gonghang {
	background-position:0 0
}
.bank-jianhang {
	background-position:-150px 0
}
.bank-nonghang {
	background-position:-300px 0
}
.bank-zhaohang {
	background-position:-450px 0
}
.bank-guangfa {
	background-position:0 -50px
}
.bank-jiaotong {
	background-position:-150px -50px
}
.bank-youzheng {
	background-position:-300px -50px
}
.bank-xingye {
	background-position:-450px -50px
}
.bank-pufa {
	background-position:0 -100px
}
.bank-zhongguo {
	background-position:-150px -100px
}
.bank-minsheng {
	background-position:-300px -100px
}
.bank-guangda {
	background-position:-450px -100px
}
.bank-pingan {
	background-position:0 -150px
}
.bank-dongya {
	background-position:-150px -150px
}
.bank-beijing {
	background-position:-300px -150px
}
.bank-zhongxin {
	background-position:-450px -150px
}
.bank-nanjing {
	background-position:0 -200px
}
.bank-bohai {
	background-position:-150px -200px
}

.pe-none {
	pointer-events:none
}
.site-casa .M-a-casa, .site-data .M-a-parameter, .site-usercenter .M-a-usercenter, .site-download .M-a-app, .site-faq .M-a-faq, .M-a:hover {
	color:#ff7182
}
.M-pqr-wrap {
	background:#FFF;
	border:1px solid #DDD;
	_border:0 none;
	border-top:0 none;
	display:none;
	padding:10px;
	position:absolute;
	top:61px;
	z-index:10
}
:root .M-pqr-wrap {
	display:block;
	opacity:0;
transition:opacity .2s, visibility .1s;
	visibility:hidden
}
.M-pqr-wrap-app {
	right:124px
}
.M-pqr-wrap-weixin {
	right:208px
}
.M-pqr-wrap-active {
	display:block
}
:root .M-pqr-wrap-active {
	opacity:1;
	visibility:visible
}
.footer .inner {
	margin:0 auto;
	position:relative;
	width:1000px
}
.footer .F-a {
	color:#707070;
	cursor:pointer;
	_cursor:pointer;
	font-size:14px;
	line-height:2;
	text-decoration:none
}
.footer .F-a:hover {
	border-bottom:1px solid
}
.footer .F-dl {
	float:left;
	margin:0 100px 0 0
}
.footer .F-dl-last {
	margin:0
}
.footer .F-dt {
	color:#707070;
	font-size:19px;
	line-height:2
}
.footer .last-least {
	color:#333;
	font-size:12px;
	padding-bottom:34px;
	text-align:center
}
.footer .s-qrcode-weixin {
	display:none;
	left:-18px;
	position:absolute;
	top:154px
}
.footer .s-qrcode-weixin-active {
	display:block
}
.footer .s-info-postsale {
	margin:20px 0
}
.footer .s-info-service-call {
	float:right
}
.footer .footer-menu-wrap {
	border-top:1px solid #232323
}
.footer .footer-menu-inner {
	margin:0 auto;
	padding:34px 0 40px;
	width:700px;
*zoom:1
}
.footer .footer-menu-inner:after {
	clear:both;
	content:"\0020";
	display:block;
	height:0
}
.footer .footer-menu-inner:after {
	clear:both;
	content:"\0020";
	display:block;
	height:0
}
.footer .postsell {
	border-bottom:1px solid #131313;
	padding:40px 0 31px;
*zoom:1
}
.footer .postsell:after {
	clear:both;
	content:"\0020";
	display:block;
	height:0
}
.footer .postsell:after {
	clear:both;
	content:"\0020";
	display:block;
	height:0
}
.site-data {
	color:#666
}
.site-data .wrap-ruler {
	padding:0 0 150px
}
.site-data .wrap-table {
	padding:45px 0
}
.site-data table {
	margin:0 auto;
	width:960px
}
.site-data th, .site-data td {
	border:1px solid #e7e7e7;
	padding:29px 0 29px 70px;
	vertical-align:top
}
.site-data th {
	border-left:0 none;
	border-right:0 none;
	width:211px
}
.site-data td {
	border-right:0 none;
	font-size:14px
}
.site-data h2 {
	font-size:35px;
	margin:51px 0 21px
}
.site-data td p {
	margin:0 0 8px
}
.site-data td .last {
	margin:0
}
.site-data .wrap-intro {
	background:#f5f5f5 url(http://p1.qhimg.com/t0138125dfcb6007458.png) no-repeat 50% 0;
	height:500px
}
.site-faq {
	color:#666
}
.site-faq .wrap-faq {
	padding:37px 0
}
.site-faq h2 {
	border-bottom:1px solid #CCC;
	font-size:24px;
	padding:0 0 28px
}
.site-faq dl {
	margin:37px
}
.site-faq dt {
	color:#000;
	font-size:16px;
	margin:0 0 14px
}
.site-faq dd {
	font-size:14px;
	line-height:2
}
.site-faq .s-icon-faq {
	margin:0 12px 0 0
}
.site-download {
	background:#fdd700;
	min-width:1024px
}
.site-download .nav {
	border-bottom-color:transparent
}
.site-download .wrap-download {
	font-family:'fz-EL', "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
	overflow:hidden
}
.site-download .wrap-download p {
	font-size:14px;
	line-height:14px;
	margin:8px 0 20px;
	text-align:center;
	width:240px
}
.site-download .inner-download {
	height:659px;
	margin:0 auto;
	position:relative;
	width:880px
}
.site-download h2 {
	font-family:'fz-L', "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
	font-size:60px;
	line-height:60px;
	padding:92px 0 0
}
.site-download h3 {
	font-size:24px;
	margin:22px 0
}
.site-download .btn {
	background:#fe5a72;
	border:0 none;
	border-radius:37px;
	color:#FFF;
	cursor:pointer;
	display:block;
	font-size:24px;
	font-family:'fz-EL', "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
	outline:0 none;
	padding:18px 28px 20px;
	text-align:center;
	text-decoration:none;
	width:184px
}
.site-download .btn:hover {
	background:#fe7388
}
.site-download .btn:active {
	background:#fe697f
}
.site-download .s-icon-apple {
*height:30px
}
.site-download .ilblk {
	margin:0 6px 0 0;
	vertical-align:-6px;
*vertical-align:baseline
}
.site-download .iphone {
	-webkit-animation:iphoneSlideIn 1.4s ease-in-out;
	animation:iphoneSlideIn 1.4s ease-in-out;
	left:200px;
	top:223px;
	z-index:0
}
@-webkit-keyframes iphoneSlideIn {
0% {
opacity:.4;
-webkit-transform:translate(150px, 110px)
}
}
@keyframes iphoneSlideIn {
0% {
opacity:.4;
transform:translate(150px, 110px)
}
}
.site-map {
	color:#999;
	height:100%
}
.site-usercenter {
	color:#777;
	font-size:14px;
	line-height:1.6;
	min-height:100%;
	position:relative
}
.site-usercenter a {
	color:#838383;
	text-decoration:none
}
.site-usercenter h2 {
	color:#858585;
	font-size:16px
}
.site-map .nav {
	left:0;
	position:absolute;
	top:0;
	z-index:200
}
.site-map .container {
	height:100%
}
.site-map .wrap-preload {
	height:0;
	overflow:hidden;
	position:absolute
}
.site-map .preload {
	visibility:hidden
}
.site-map .wrap-map {
	box-sizing:border-box;
	height:100%;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none
}
.site-map .menu {
	display:none
}
.site-map .wrap-info {
	background:#FFF;
	background:rgba(255, 255, 255, 0.9);
	border-bottom:1px solid #DDD;
	left:0;
	position:absolute;
	top:60px;
*width:90px;
	z-index:180
}
.site-map .wrap-info-show {
*width:438px
}
.site-map .wrap-headpic {
	margin:0 auto
}
.site-map .headpic {
	border-radius:100%;
	display:block;
	height:70px;
	width:100%
}
.site-map .wrap-baby-info {
	margin:10px 0 0;
	max-width:5em;
	text-align:center
}
.site-map .baby-name {
	color:#444
}
.site-map .wrap-message {
	color:#666;
	font-size:14px;
	padding:20px 35px;
	width:240px
}
.site-map .message {
	height:50px;
	line-height:35px
}
.site-map .btn-message-iget {
	background:#fe5a72;
	border-radius:16px;
	color:#FFF;
	display:block;
	float:right;
	margin:24px 0 0;
	_margin:12px 0 0;
	padding:4px 10px;
	text-decoration:none
}
.site-map .wrap-popup {
	background:#333;
	background:rgba(0, 0, 0, 0.9);
	border-radius:4px;
	padding:8px;
	text-align:center;
	-moz-user-select:initial;
	-webkit-user-select:initial;
	user-select:initial;
	width:256px
}
.site-map .txt-time-popup {
	font-size:14px;
	margin:0 0 6px
}
.site-map .txt-place-popup {
	color:#EEE;
	font-size:18px
}
.site-map .amap-toolbar {
	left:auto!important;
	right:30px;
	top:70px!important
}
.site-map .footer {
	display:none
}
.site-map .triangle-popup {
	border-top:10px solid rgba(0, 0, 0, 0.9);
	border-bottom:0 none;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	_color:#FF3FFF;
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	margin:0 0 0 135px;
	overflow:hidden;
	vertical-align:middle;
	width:0;
	_filter:chroma(color=#ff3fff)
}
.site-map .nav {
	background-color:#FFF;
	background-color:rgba(255, 255, 255, 0.9)
}
.site-map .menu, .site-usercenter .footer {
	display:none
}
.site-usercenter .link {
	border-bottom:1px solid #999;
	color:#666
}
.site-usercenter .hidden {
	display:none
}
.site-usercenter .content-wrap {
	margin:auto;
	width:980px
}
.site-usercenter .bd {
	padding-top:26px
}
.site-usercenter .bd-alt {
	padding-top:108px
}
.site-usercenter .btn {
	background:#ff7182;
	border-radius:3px;
	color:#FFF;
	display:inline-block;
	font-size:16px;
	padding:3px 25px 4px;
	text-align:center;
	text-decoration:none;
	vertical-align:0
}
.site-usercenter .btn-big {
	font-size:24px;
	height:50px;
	line-height:50px;
	padding:0;
	vertical-align:middle;
	width:260px
}
.site-usercenter .btn-alt {
	background:#4f4f4f
}
.site-usercenter .btn-confirm-blocked {
	background:#DDD;
	cursor:default
}
.site-usercenter .mod-table {
	text-align:center;
	width:100%
}
.site-usercenter .mod-empty {
	background:#F9F9F9;
	height:180px;
	margin:85px auto 0;
	padding:35px 0 0;
	text-align:center
}
.site-usercenter .error-altmsg {
	color:#fa625c;
	display:none
}
.site-usercenter .pay-dialog, .site-usercenter .UPanel {
	background:#f1f1f1;
	display:none;
	height:330px;
	position:absolute;
	width:480px;
	z-index:3
}
.site-usercenter .text-unfinished {
	color:#ff5959
}
.site-usercenter .text-done {
	color:#000
}
.site-usercenter .text-cancelled {
	color:#CCC
}
.site-usercenter .callback-body {
	background:#e0e0e0;
	_background:#F0F0F0
}
.site-usercenter .callback-page {
	margin:0 auto;
	padding:100px 0 0;
	width:980px
}
.site-usercenter .callback-main {
	overflow:hidden;
*zoom:1
}
.site-usercenter .callback-404 {
	background-position:-30px -393px
}
.site-usercenter .callback-icon {
	_display:inline;
	float:left;
	margin:0 30px 0 188px
}
.site-usercenter .download-dialog {
	width:600px
}
.site-usercenter .mod-table th, .site-usercenter .mod-table td {
	text-align:center
}
.site-usercenter .mod-table th {
	height:50px
}
.site-usercenter .mod-table td {
	height:98px;
	padding-top:0;
	padding-bottom:0
}
.site-usercenter .mod-empty h2 {
	font-size:20px;
	margin:32px 0 45px
}
.site-usercenter .mod-form input {
	-webkit-appearance:none;
	border:1px solid #d2d2d2;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color:#656e6f;
	font-size:14px;
*height:14px;
	line-height:normal;
	overflow:visible;
	padding:12px;
*vertical-align:-10px;
	width:334px
}
.site-usercenter .callback-main h2 {
	color:#000;
	font-size:48px;
	font-weight:700;
	line-height:1;
	margin:0 0 20px
}
.site-usercenter .callback-main p {
	font-size:19px
}
.site-usercenter .callback-main a {
	margin:20px 0
}
.site-usercenter .callback-main p em {
	color:#fa625c
}
.site-map .wrap-info .left {
	border-right:1px solid #e8e8e8;
	height:99px;
	padding:20px 26px;
	width:70px
}
.site-map .wrap-info .right {
	height:139px;
	overflow:hidden;
	-webkit-transition:0.6s;
	transition:0.6s;
	width:0
}
.site-map .wrap-info-show .right {
	border-right:1px solid #e8e8e8;
transition-delay:.6s;
	width:310px
}
.site-map .btn-message-iget:hover {
	background:#ff8093
}
.site-usercenter .link:hover {
	border-bottom-color:#ff7182;
	color:#ff7182
}
.site-usercenter .btn:hover {
	background:#ff8093;
	text-decoration:none
}
.site-usercenter .btn-alt:hover {
	background:#5a5a5a
}
.site-usercenter .btn-confirm-blocked:hover {
	background:#DDD
}
.site-usercenter .mod-table .hd {
	background:#fdd700;
	color:#303435
}
.site-usercenter .mod-table .item {
	background:#fff
}
.site-usercenter .mod-table .item-alt {
	background:#fff9e6
}
.site-usercenter .mod-table .opr {
	width:13em
}
.site-usercenter .mod-table .traffic {
	width:111px
}
.site-usercenter .mod-table .baby-info {
	padding:0 0 0 52px;
	text-align:left;
	width:440px
}
.site-usercenter .mod-form .error {
	border:1px solid #fa625c;
	color:#fa625c;
	margin:0 0 0 5px
}
.site-usercenter .error-altmsg:before {
	background-position:-887px 0;
	background-image:url(http://p2.qhimg.com/t01345b23f5845a13b8.png);
	content:"\0020";
	display:inline-block;
	height:16px;
	margin:0 6px 0 0;
	vertical-align:middle;
	width:16px
}
.site-usercenter .dialog .hd {
	background:#e7e7e7;
	box-shadow:0 -2px 1px 0 rgba(0, 0, 0, 0.02) inset;
	height:48px;
	line-height:48px;
	padding:0 18px;
	position:relative
}
.site-usercenter .dialog .bd {
	padding:40px 70px
}
.site-usercenter .dialog .footer {
	background:#e7e7e7;
	color:#858585;
	padding:10px 70px 13px
}
.site-usercenter .callback-body .hidden_font {
	color:#FFF;
	font-size:200px;
	line-height:1;
	margin:80px;
	position:relative;
	z-index:-1
}
.site-usercenter .download-dialog .bd {
	background:url(http://p8.qhimg.com/t01625ac8526417259e.png) no-repeat;
	height:396px;
	position:relative
}
.site-usercenter .mod-form input.error {
	margin:0
}
.site-usercenter .dialog .hd h2 {
	font-size:22px
}
.site-usercenter .mod-table .baby-info.thd {
	text-indent:3em
}
.site-usercenter .dialog .hd .btn-close {
	background-position:-578px -51px;
	background-image:url(http://p2.qhimg.com/t01345b23f5845a13b8.png);
	display:block;
	height:25px;
	position:absolute;
	right:14px;
	top:12px;
	width:23px
}
.site-usercenter .dialog .bd .msg {
	color:#303435;
	font-size:18px;
	line-height:2
}
.site-usercenter .dialog .bd .links {
	margin-top:40px
}
.site-usercenter .pay-dialog .bd .btn {
	font-size:18px;
	padding:10px 29px
}
.site-usercenter .pay-dialog .bd .pay-fail {
	margin-left:15px;
*vertical-align:10px
}
.site-usercenter .remind-dialog .bd .btn {
	margin:0 22px 0 0;
	padding:10px 22px
}
.site-usercenter .mod-form input.error:focus {
	box-shadow:0 0 10px -2px #fa625c, 0px 1px 4px 0 #ccc inset;
	outline:none
}
.site-usercenter .pay-dialog .bd .msg img {
	float:left;
	margin-right:15px;
	position:relative;
	top:10px
}
.site-usercenter .download-dialog .bd a, .site-usercenter .popWin .bd a:link {
	height:66px;
	left:60px;
	position:absolute;
	top:70px;
	width:233px
}
.site-usercenter .record-bd {
	background:#F9F9F9;
	color:#666;
	margin-top:8px;
	padding-bottom:65px
}
.site-usercenter .paginator {
	padding:18px 50px
}
.site-usercenter .notice {
	line-height:2;
	margin-top:38px;
	padding:0 50px
}
.site-usercenter .link-watch {
	color:#858585
}
.site-usercenter .tabs {
	background:#F9F9F9;
	margin-top:8px
}
.site-usercenter .tab-label {
	background:#fdd700;
	font-size:0;
	padding-top:5px;
	padding-left:25px
}
.site-usercenter .tab-cont {
	min-height:614px
}
.site-usercenter .cont-item {
	display:none;
	padding:30px 47px
}
.site-usercenter .combo-list {
	margin-top:10px
}
.site-usercenter .combo {
	background:#FFF;
	border:2px solid #ddd;
	float:left;
	height:70px;
	margin-right:25px;
	position:relative;
	width:178px
}
.site-usercenter .combo-time-message {
	color:#AAA;
	margin:8px 0 0
}
.site-usercenter .bank {
	background:#FFF;
	border:1px solid #ddd;
	float:left;
	height:40px;
	margin-right:10px;
	margin-bottom:10px;
	position:relative;
	width:212px
}
.site-usercenter .bank-header {
	margin-top:20px
}
.site-usercenter .bank-list {
	margin-top:10px;
	margin-right:-18px;
	margin-bottom:10px
}
.site-usercenter .bank-to-show {
	display:none
}
.site-usercenter .payment {
	margin:20px 0 0
}
.site-usercenter .btn-pay-online-bank {
	margin-left:20px;
	vertical-align:0
}
.site-usercenter .btn-alipay, .site-usercenter .btn-unionpay {
	margin:10px 0 20px
}
.site-usercenter .notice-list {
	line-height:1.8;
	list-style-type:decimal;
	list-style-position:inside;
	margin-top:5px
}
.site-usercenter .UPanelMask {
	background:none;
	display:none;
	zoom:1;
filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#cc000000, endcolorstr=#cc000000)
}
.site-usercenter .UPanelMaskIframe {
	opacity:0!important;
	filter:alpha(opacity=0) !important
}
.site-usercenter .watch-bd {
	margin-top:8px
}
.site-usercenter .watch-pic {
	border-radius:50%;
	display:inline-block;
*display:inline;
	height:70px;
	margin-right:12px;
	vertical-align:middle;
	width:70px;
*zoom:1
}
.site-usercenter .baby-detail {
	color:#666;
	display:inline-block;
	vertical-align:middle;
*zoom:1
}
.site-usercenter .baby-detail-item {
	color:#a9a7a1;
	display:block;
	width:330px
}
.site-usercenter .baby-detail-addr {
	display:inline-block;
	line-height:16px;
	margin:5px 0 0;
	max-width:16em;
	overflow:hidden;
	text-overflow:ellipsis;
	vertical-align:top;
	white-space:nowrap;
	_width:16em
}
.site-usercenter .baby-name {
	color:#666;
	font-size:16px
}
.site-usercenter .link-map, .site-usercenter .link-record {
	margin:0 0 0 8px
}
.site-usercenter .link-map {
*cursor:pointer;
	_cursor:hand
}
.site-usercenter .link-map-inner {
	border-bottom:1px solid #999;
	color:#333;
	display:inline-block;
	line-height:14px;
	margin:5px 0 0;
	vertical-align:top
}
.site-usercenter .other-bd {
	margin:8px 0 40px
}
.site-usercenter .btn-sim-submit {
	margin:0 10px
}
.site-usercenter .record-table td {
	height:98px
}
.site-usercenter .paginator a {
	color:#a9a9a9;
	display:inline-block;
	padding:0 9px
}
.site-usercenter .notice h3 {
	font-weight:700
}
.site-usercenter .tab-label li {
	display:inline-block;
*display:inline;
*zoom:1
}
.site-usercenter .cont-item h3 {
	color:#303435
}
.site-usercenter .combo label {
	cursor:pointer;
	display:block;
	height:100%;
	padding-left:43px
}
.site-usercenter .combo-time-message em {
	color:#fa625c
}
.site-usercenter .bank label {
	cursor:pointer;
	display:block;
	font-size:0;
	height:40px;
	line-height:40px;
	padding-left:38px
}
.site-usercenter .payment em {
	color:#ff7182;
	font-size:18px;
	position:relative;
	top:2px
}
.site-usercenter .mod-form dl {
	color:#656e6f;
	font-size:16px;
	margin-bottom:20px
}
.site-usercenter .mod-form dt, .site-usercenter .mod-form dd {
	display:inline-block;
	_display:inline
}
.site-usercenter .baby-name em {
	color:#fa625c
}
.site-usercenter .tab-label li a {
	color:#303435;
	display:inline-block;
	font-size:16px;
	padding:10px 30px;
*zoom:1
}
.site-usercenter .record-wrap .link-watch {
	color:#858585
}
.site-usercenter .record-table .order-num {
	width:210px
}
.site-usercenter .record-table .order-stat {
	width:115px
}
.site-usercenter .paginator .overview {
	color:#a9a9a9;
	float:left
}
.site-usercenter .paginator .page-link {
	float:right
}
.site-usercenter .paginator .active {
	color:#444
}
.site-usercenter .link-watch:hover {
	text-decoration:underline
}
.site-usercenter .tab-cont .active {
	display:block
}
.site-usercenter .combo-list .selected {
	border:2px solid #fa625c
}
.site-usercenter .combo .cutoff {
	background:#fa625c;
	bottom:0;
	color:#FFF;
	display:block;
	padding:0 1em;
	pointer-events:none;
	position:absolute;
	right:0
}
.site-usercenter .combo .radio {
	display:block;
	left:14px;
	position:absolute;
	top:28px
}
.site-usercenter .combo .title {
	font-size:18px;
	line-height:1.1;
	overflow:hidden;
	padding-top:13px;
	white-space:nowrap
}
.site-usercenter .combo .prize {
	color:#666
}
.site-usercenter .bank .radio {
	display:block;
	left:14px;
	position:absolute;
	top:13px;
*top:10px
}
.site-usercenter .payment .combo-sync {
	font-size:36px;
	margin:5px
}
.site-usercenter .cont-online-bank .payment {
	text-align:right
}
.site-usercenter .cont-online-bank .notice {
	border-top:1px solid #e9eaec;
	margin:40px 0 0;
	padding:20px 0 19px
}
:root .site-usercenter .UPanelMask {
	-ms-filter:none;
	background:rgba(0, 0, 0, 0.8)
}
.site-usercenter :root .UPanelMask {
	background:rgba(0, 0, 0, 0.5);
	zoom:normal;
	filter:none
}
.site-usercenter .link-map .glyph-map-mark {
	position:relative;
	top:3px;
*top:4px
}
.site-usercenter .link-map .s-recharge-mapmark {
	display:inline-block
}
.site-usercenter .link-map .s-recharge-mapmark-hover, .site-usercenter .other-bd .mod-table, .site-usercenter .link-map:hover .s-recharge-mapmark {
	display:none
}
.site-usercenter .other-bd-has-result .mod-table {
	display:table;
*display:block
}
.site-usercenter .paginator a:hover {
	text-decoration:underline
}
.site-usercenter .tab-label .active a {
	background:#F9F9F9
}
.site-usercenter .combo .prize em {
	color:#ff7182;
	font-size:20px;
	padding-right:3px;
	position:relative;
	top:1px
}
.site-usercenter .tab-label li a:hover {
	background:#ffeb80
}
.site-usercenter .record-wrap .link-watch:hover {
	color:#ff7182
}
.site-usercenter .link-map:hover .s-recharge-mapmark-hover {
	display:inline-block
}
.site-usercenter .link-map:hover .link-map-inner {
	border-bottom-color:#ff7182;
	color:#ff7182
}
.site-usercenter .other-bd .mod-table .item {
	border:0 none
}
.site-usercenter .download-dialog .bd a.android {
	background:url(http://p2.qhimg.com/t01f688241b796bdd68.png) 0 0 no-repeat;
	top:70px
}
.site-usercenter .download-dialog .bd a.ios {
	background:url(http://p2.qhimg.com/t01f688241b796bdd68.png) 0 -264px no-repeat;
	top:190px
}
.site-usercenter .tab-label .active a:hover {
	background:#F9F9F9;
	cursor:default
}
.site-usercenter .download-dialog .bd a.android:hover {
	background-position:0 -132px
}
.site-usercenter .download-dialog .bd a.ios:hover {
	background-position:0 -396px
}
.site-usercenter .is-unavailable, .site-usercenter .item-warning .stat {
	color:#ff7182
}
.SCOU {
	background-image:url(http://p1.qhimg.com/t01423feed54f931f9b.png);
	background-repeat:no-repeat
}
.site-coupon {
	background:#78c26b;
	font-size:14px;
	padding:110px 0 0
}
.site-taikang-intro {
	background:#f0f0f0
}
.s-taikang-care, .s-taikang-cellphone, .s-taikang-umbrella {
	margin:0 0 0 50px
}
.STI {
	background-image:url(http://p3.qhimg.com/t0146730848814ed914.png);
	background-repeat:no-repeat
}
.s-taikang-care {
	background-position:0 0;
	height:216px;
	width:218px
}
.s-taikang-cellphone {
	background-position:-219px 0;
	height:216px;
	width:218px
}
.s-taikang-umbrella {
	background-position:-438px 0;
	height:216px;
	width:218px
}
.s-taikang-mountain-r {
	background-position:-657px 0;
	height:126px;
	width:324px
}
.s-taikang-mountain-l {
	background-position:-982px 0;
	height:125px;
	width:318px
}
.s-taikang-header {
	background-position:-1301px 0;
	height:117px;
	width:546px
}
.s-taikang-lead {
	background-position:-657px -127px;
	height:90px;
	width:1021px
}
.s-taikang-enterprise-icons {
	background-position:-1679px -118px;
	height:28px;
	width:176px;
	margin:0 6px
}
.s-taikang-header {
	margin:22px 0 0 2px
}
.s-taikang-lead {
	margin:0 0 0 -9px
}
.s-taikang-mountain-r {
	margin:0 0 -126px 1180px
}
.site-upgrade {
	color:#666
}
.site-coupon label {
	border-right:1px solid #dcdcdc;
	color:#656e6f;
	cursor:pointer;
	_cursor:pointer;
	float:left;
	font-size:14px;
	line-height:36px;
	width:69px
}
.site-coupon input, .site-coupon textarea {
	border:0 none;
	color:#656e6f;
	float:left;
	font-size:14px;
	line-height:normal;
	margin-left:14px;
	padding:11px 0;
	width:198px
}
.site-coupon textarea {
	height:2em;
	resize:none
}
.site-coupon h2 {
	color:#496744;
	font-size:50px;
	line-height:normal;
	margin:0 0 12px
}
.site-taikang-intro h3 {
	color:#6ccecc;
	font-size:30px;
	line-height:normal;
	margin:-35px 0 16px;
*position:relative;
	text-align:center
}
.site-taikang-intro h4 {
	color:#353535;
	font-size:20px;
	margin:0 0 30px
}
.site-taikang-intro table {
	color:#666;
	font-size:12px;
	margin:28px 0 0;
	width:100%
}
.site-taikang-intro th {
	background:#b5e6e5;
	color:#353535;
	font-size:14px;
	text-align:center
}
.site-taikang-intro tr {
	background:#FFF;
	height:62px
}
.site-upgrade p {
	margin:1em 0
}
.site-upgrade h2 {
	color:#333;
	font-size:50px;
	margin:60px 0 66px;
	text-align:center
}
.site-upgrade ol {
	margin:0 -50px 0 0;
	padding:216px 0 0;
*zoom:1
}
.site-upgrade ol li {
	_display:inline;
	float:left;
	height:173px;
	text-align:center;
	width:367px
}
.site-usercenter .opr-left, .site-usercenter .opr-right {
	float:left;
	width:50%
}
.site-usercenter .opr-left {
	text-align:right
}
.site-usercenter .opr-right {
	text-align:left
}
.site-usercenter .form-phone {
	margin:0 0 20px;
	position:relative;
*zoom:1
}
.site-usercenter .link-sure-to-recharge {
*vertical-align:10px
}
.site-usercenter .insur {
	padding:0 28px 0 0
}
.site-coupon .nav {
	border-bottom:0 none;
	min-width:1024px;
	position:absolute;
	top:0
}
.site-coupon .wrap-header {
	height:152px;
	position:relative
}
.site-coupon .wrap-main {
	background:#bce1b5;
	height:500px;
	margin-bottom:60px;
	position:relative
}
.site-coupon .wrap-cont {
	margin-left:auto;
	margin-right:auto;
	width:900px
}
.site-coupon .inner-main {
	padding:28px 29px
}
.site-coupon .s-success {
	background-position:0 0;
	height:106px;
	width:106px
}
.site-coupon .s-header {
	background-position:-107px 0;
	height:58px;
	width:537px
}
.site-coupon .s-step-1 {
	background-position:-107px -59px;
	height:37px;
	width:210px
}
.site-coupon .s-step-2 {
	background-position:-318px -59px;
	height:37px;
	width:216px
}
.site-coupon .s-step-3 {
	background-position:-535px -59px;
	height:37px;
	width:120px
}
.site-coupon .s-line {
	background-position:-107px -97px;
	height:1px;
	width:168px
}
.site-coupon .s-dot-off {
	background-position:-656px 0;
	height:11px;
	width:12px
}
.site-coupon .s-dot-on {
	background-position:-656px -17px;
	height:11px;
	width:12px
}
.site-coupon .s-error {
	background-position:-656px -34px;
	height:16px;
	width:16px
}
.site-coupon .s-step-1 {
	_height:36px
}
.site-coupon .s-dot-on {
	_background-position:-656px -16px;
	_margin-top:-1px
}
.site-coupon .s-header {
	margin:0 auto
}
.site-coupon .s-line {
	left:50%;
	margin:0 0 0 -84px;
	top:114px
}
.site-coupon .s-error {
	margin:0 5px 0 0
}
.site-coupon .dot-1, .site-coupon .dot-2, .site-coupon .dot-3 {
	top:109px
}
.site-coupon .dot-1 {
	left:413px
}
.site-coupon .dot-2 {
	left:444px
}
.site-coupon .dot-3 {
	left:475px
}
.site-coupon .img-capcha {
	cursor:pointer;
	_cursor:hand;
	position:absolute;
	right:12px;
	top:12px;
	width:98px
}
.site-coupon .wrap-form {
	padding:56px 265px 0
}
.site-coupon .wrap-form-2 {
	padding-top:54px
}
.site-coupon .wrap-form-3 {
	padding:75px 132px 0 350px;
	position:relative
}
.site-coupon .wrap-input {
	background:#FFF;
	border-radius:4px;
	height:50px;
	margin-bottom:30px
}
.site-coupon .wrap-input-2x {
	height:68px;
	overflow:hidden
}
.site-coupon .wrap-errormsg {
	display:none
}
.site-coupon .wrap-submit {
	background:#ff7182;
	border-radius:4px;
	color:#FFF;
	cursor:pointer;
	_cursor:hand;
	display:block;
	font-size:22px;
	height:51px;
	letter-spacing:3px;
	line-height:51px;
	text-align:center
}
.site-coupon .inner-input {
	padding:7px 14px
}
.site-coupon .s-success {
	left:212px;
	top:67px
}
.site-coupon .wrap-errormsg {
	color:#fc4359;
	margin-bottom:10px;
	padding:12px 0
}
.site-taikang-intro .nav, .site-taikang-intro .footer {
	display:none
}
.site-taikang-intro .wrap-top {
	background:#fdd700;
	height:489px;
	margin:0 0 -241px
}
.site-taikang-intro .inner-top {
	margin:0 auto;
	padding:10px 0 0;
	width:1000px
}
.site-taikang-intro .wrap-bg-mountain {
	height:126px;
	overflow:hidden;
	top:404px;
	width:100%
}
.site-taikang-intro .inner-bg-mountain {
	left:50%;
	margin:0 0 0 -752px;
	position:absolute;
	width:1504px
}
.site-taikang-intro .wrap-body {
	background:#FFF;
	margin:0 auto;
*overflow:hidden;
	position:relative;
	width:1000px;
*zoom:1
}
.site-taikang-intro .wrap-points {
	padding:0 0 65px 58px
}
.site-taikang-intro .taikang-li {
	float:left;
	margin:30px 58px 0 0;
	_margin:30px 46px 0 0;
	width:254px
}
.site-taikang-intro .howto {
	background:url(http://p2.qhimg.com/t010a33a682003b2278.jpg);
	height:561px
}
.site-taikang-intro .tailang-link {
	color:#FFF;
	font-size:14px;
	left:65px;
	text-decoration:none;
	top:510px
}
.site-taikang-intro .need-to-know {
	padding:47px 48px 120px
}
.site-taikang-intro .td-1 {
	text-indent:32px
}
.site-taikang-intro .td-2 {
	text-indent:55px
}
.site-upgrade .nav {
	border-bottom-color:transparent;
	position:relative
}
.site-upgrade .btn {
	background:#f16a9b;
	border:1px solid #f49abb;
	border-radius:42px;
	color:#FFF;
	cursor:pointer;
	_cursor:hand;
	display:inline-block;
	font-size:25px;
	font-family:'fz-EL', "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
	outline:0 none;
	padding:18px 42px;
	text-decoration:none;
*vertical-align:middle
}
.site-upgrade .btn-alt {
	background:#f49abb;
	border:1px solid #fff;
	font-size:36px;
	padding:22px 50px 20px
}
.site-upgrade .wrap {
	margin:0 auto;
	overflow:hidden;
	width:1100px
}
.site-upgrade .intro {
	background:url(http://p3.qhimg.com/t01b0c8ec80f8bc7022.jpg) 50% 0 no-repeat;
	color:#73183c;
	font-family:'fz-EL', "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
	height:814px;
	margin:-61px 0 0
}
.site-upgrade .detail {
	background:url(http://p3.qhimg.com/t01a0d41716521c3ed6.png) 50% 175px no-repeat;
	font-size:20px;
	height:593px
}
.site-upgrade .s {
	font-size:14px;
	margin:5px 0
}
.site-upgrade .s-s {
	line-height:1.5;
	padding:7px 0 0 25px;
	text-align:left
}
.site-coupon input.capcha {
	width:100px
}
.site-coupon .wrap-form-3 p {
	font-size:20px
}
.site-coupon .wrap-form-3 p, .site-coupon .wrap-form-3 ul {
	color:#496744;
	margin:0 0 16px
}
.site-coupon .wrap-form-3 li {
	font-size:12px;
	margin:0 0 5px
}
.site-coupon .wrap-form-3 b, .site-coupon .wrap-form-3 strong {
	color:#6d9965;
	font-weight:400
}
.site-coupon .wrap-input-2x label {
	height:54px
}
.site-taikang-intro p.point {
	color:#888;
	font-size:14px;
	line-height:22px
}
.site-taikang-intro p.toknow {
	color:#666;
	font-size:12px;
	line-height:normal;
	margin-bottom:14px
}
.site-taikang-intro p.S {
	color:#999
}
.site-taikang-intro tr.alt {
	background:#f7f7f7
}
.site-upgrade .s-s a {
	color:#f16a9b;
	margin:.2em;
	text-decoration:none
}
.site-upgrade ol li .ilblk {
	max-width:290px
}
.site-usercenter .item-warning .link {
	margin-top:8px
}
.site-usercenter .opr .link {
	display:inline-block;
	line-height:14px
}
.site-coupon .wrap-form-with-err .wrap-errormsg {
	display:block
}
.site-coupon .wrap-form-with-err .wrap-input-last {
	margin-bottom:0
}
.site-coupon .wrap-submit:hover {
	background:#ff8093
}
.site-coupon .wrap-submit:active {
	background:#fe788c
}
.site-coupon .wrap-form-3 .R {
	display:inline-block;
	margin:0 1em 0 0;
	width:3em
}
.site-coupon .wrap-input-2x .inner-input {
	background:#FFF
}
.site-upgrade .btn:hover {
	background:#e26895
}
.site-upgrade .btn:active {
	background:#be3b6b
}
.site-upgrade .btn-alt:hover {
	background:#f49abb;
	border-color:#f9d1e0;
	color:#f9d1e0
}
.site-upgrade .btn-alt:active {
	background:#f49abb;
	border-color:#e15287;
	color:#e15287
}
.site-upgrade .intro .inner {
	margin:383px 0 0 104px
}
.site-upgrade .intro .sect {
	margin:0 1em 0 0
}
.site-usercenter .form-phone em.error {
	bottom:4px;
	left:15px;
	position:absolute
}
.site-usercenter .other-bd em.error {
	display:none!important
}
.site-coupon .wrap-form-3 p.S {
	color:#7fb376;
	font-size:12px
}
.site-coupon .wrap-form-3 p.m {
	border-top:1px solid #d2ebcd;
	font-size:14px;
	margin:0;
	padding:20px 0
}
.site-upgrade .s-s a:hover {
	text-decoration:underline
}
